@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Large popouts
.recentMentionsPopout__95796,
.messagesPopoutWrap__45690 {
    @include card.outer;
    max-height: 85vh !important;
}

// Small popouts
.popoutContainer__0f481,
.popout__76f04,
.menu_c1e9c4 {
    @include card.outer;
}

// Header
.header__45690,
.header_d9c882 {
    background: $red;

    // Top title
    :is(h1, h2, h3, h4, h5),
    .inboxTitle_ab6641,
    .title_d9c882 {
        color: $black;
        @include filter.shadow;
    }
}

// Footer
.footer__45690,
.footer_cba592 {
    background: $red;
}
