@use "../../top/vars" as *;
@use "../../top/card";

// Activity status
.popout__669b5 {
    @include card.outer;

    // Preset activities
    @at-root .iconsContainer__669b5 {
        @include card.large;
        padding: 0;

        @at-root .iconWidget__669b5 {
            &,
            &:hover,
            &.selectedWidget__669b5 {
                border: 0;
                background: none;
            }
        }
    }

    // Custom activity button
    @at-root .setCustomButton__669b5 {
        &:hover {
            background: unset;
        }
        @at-root .editIconColor__669b5 {
            color: $cream;
        }
    }
}
