@use "../../top/vars" as *;
@use "../../top/card";

// Activities suggestion on hover in voice chat panel

.container__9fa5a {
    @include card.outer;

    .titleContainer__9fa5a :is(path, polygon)[fill] {
        fill: $cream;
    }

    .activityItem__8a940 {
        @include card.large;
        transform: none !important;
    }

    .wumpusRocketOuterContainer__9fa5a {
        display: none;
    }
}
