@use "../../top/vars" as *;
@use "../../top/card";

// On hover channel with threads
.row__76f04 {
    border-radius: $size-max;
    color: $cream;
    .timestamp__76f04 {
        color: $cream;
    }

    &:hover {
        background: $cream;
        color: $black;

        .timestamp__76f04 {
            color: $black;
        }
    }
}

.more__76f04 {
    border-top: 0;
    color: $red;
}
