@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";
@use "../../top/svg";

.wrapper_c0e32c:not(.emojiPickerHasTabWrapper_c0e32c),
.contentWrapper__08434,
.contentWrapper_eab878,
.contentWrapper_eab878.isBurstReactionPicker_c0e32c {
    @include card.outer;
    background: $red;
    box-shadow: none;
}

// Header
.header_c0e32c {
    background: $red;
}

// Tabs
:is(.navList__8438b, .navList__08434) {
    @include tabs.bar($ISBORDER: false);
    padding-top: 2px;

    & > :not(.betaTag__403f6) {
        @include tabs.tab;
    }

    .navButton__0565e {
        &,
        &:hover {
            color: $cream;
        }
    }

    .navButtonActive_b003de,
    .navButtonActive__08434 {
        @include tabs.tab($ISINVERT: true);
        &:hover {
            color: $black;
        }
    }

    div:has(> .navButtonSuperReactActive__01546) {
        @include tabs.tab($ISINVERT: true);
    }
    .navButtonSuperReactActive__01546 {
        background: unset;
        &,
        &:hover {
            color: $black;
        }
    }
}

// Gif selector header
#{$root} .header_fed6d3 {
    box-shadow: none;
}

// Skin tone selector
.diversitySelectorOptions_a45a2a {
    @include card.round;

    .diversityEmojiItem_a45a2a:hover {
        background: unset;
    }
}

// Search
.container_fea832 {
    @include card.round;

    .clear_fea832 .icon_fea832,
    .icon_fea832 {
        color: $cream;
    }
}

// Back
#{$root} .backButton_fed6d3 {
    &,
    &:hover {
        color: $cream;
    }
}

// Server sidebar
.wrapper__4e6ce.wrapper__4e6ce {
    background: $cream;
    top: 54px;

    // Every circle
    .categoryItemGuildCategory_b9ee0c,
    .categoryItemPackCategory__3ad73,
    .categoryItemDefaultCategory_b9ee0c,
    .stickerCategory__3ad28 {
        box-shadow: 0 0 0 $size-xs $black;
        border-radius: $size-max;
        overflow: hidden;
    }

    // Default categories
    .categoryItemDefaultCategory_b9ee0c,
    .stickerCategoryGeneric__3ad28,
    .guildIcon__0fa6d {
        background: $red;
    }
    .categoryIcon_b9ee0c,
    .stickerCategoryGenericIcon__3ad28 {
        color: $cream;
    }

    .categoryItemDefaultCategory_b9ee0c,
    .categoryItemDefaultCategorySelected_b9ee0c {
        margin-bottom: 8px;
        &,
        &:hover {
            .categoryIcon_b9ee0c {
                color: $cream;
            }
        }
    }

    // Default sticker packs
    .standardStickerShortcut__3ad28 {
        &,
        &:hover {
            background: $red;
        }
    }

    // Server
    .categoryItem_b9ee0c {
        border-radius: $size-max;
        overflow: hidden;

        .guildIcon__0fa6d {
            background: $red;
        }
    }

    .guildCategorySeparator_b9ee0c {
        display: none;
    }

    // Circle time
    .mask__0fa6d foreignObject {
        mask: none;
    }

    // Jump to default emojis
    .unicodeShortcut_b9ee0c,
    .standardStickerShortcut__3ad28 {
        background: $red;
        color: $cream;
    }
}

// Emoji panel
.bodyWrapper_c0e32c,
.listWrapper__8ef02 {
    background: $black;

    // Group header
    .wrapper__14245 {
        background: black;

        .header__14245 {
            color: $cream;
        }
    }

    // Emoji selector
    .emojiItem_fc7141.emojiItemSelected_fc7141 {
        @include card.med;
        overflow: visible;
        padding: 2px;
    }

    // Emoji image
    .image__1859b,
    .imageLoading__1859b {
        border-radius: $size-m;
    }

    // Sticker selector
    .stickerInspected_c6367b .inspectedIndicator_c6367b {
        @include card.med;
        box-sizing: border-box;
    }

    // Sticker image
    .stickerAsset__31fc2 {
        border-radius: $size-m;
    }

    // Create sticker
    :is(.createInspected_c6367b, .createSticker_c6367b) {
        background: $black;

        .iconWrapper_c6367b {
            background: $cream;
            color: $black;
        }
    }

    // Loading
    .error__31fc2,
    .loadingIndicator__31fc2,
    .imageLoading__1859b {
        background: $cream;
        opacity: 0.3;
    }

    .assetWrapperMasked__31fc2,
    .loadingIndicator__31fc2 {
        mask: none;
    }

    // Unsendables
    .stickerUnsendable_c6367b,
    .emojiItemDisabled__843ea {
        @include filter.sepia;
        opacity: 0.7;
    }
}

// Gif panel
.content_fed6d3 {
    background: $black;

    // Favourites
    .categoryFadeBlurple_d02962 {
        opacity: 0.5;
        &,
        &:hover {
            background: $cream;
        }
    }

    .categoryText_d02962 {
        color: $cream;
    }

    .focused_bad108,
    .result__2dc39:hover {
        box-shadow: none;

        &::after {
            box-shadow:
                inset 0 0 0 2px $cream,
                inset 0 0 0 3px $black;
        }
    }
}

// Emoji info
.inspector_aeaaeb {
    background: $red;
}

// No nitro
.premiumPromo__3a1b6 {
    background: $black;

    .premiumPromoTitle__3a1b6,
    .premiumPromoDescription__3a1b6 {
        color: $cream;
    }

    .premiumPromoImage__3a1b6 {
        @include filter.sepia;
    }

    .premiumPromoClose__3a1b6 {
        background-image: svg.$close;
    }
}
