@use "../../top/vars" as *;
@use "../../top/card";

// Form tag overflow menu
.container__5808f {
    @include card.outer;

    .headerLeft__5808f {
        gap: $size-m;
    }

    .separator__5808f {
        display: none;
    }

    .clear__5808f {
        color: $cream;
    }
}
