@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/tabs";
@use "../../top/pip";

.header_ab6641 {
    .inboxIcon_ab6641 {
        color: $cream;
    }

    .inboxTitle_ab6641 {
        font-family: var(--font-display);
        font-size: 22px;
        line-height: 26px;
    }

    .friendRequestsButton__523aa,
    .secondary__45d4f {
        @include card.round;

        &:hover:not(.disabled__4d064) {
            background: $black;
            color: $cream;
        }
    }

    .eyebrow_c15ff6 {
        font-family: var(--font-primary);
        font-weight: normal;
        background: unset !important;
        color: $cream;
    }

    // Tabs
    .topPill_b3f026 {
        padding-top: 16px;
        padding-left: 0;

        // New message
        .circleBadge__548de {
            background: $red !important;
        }
    }
}

// Channel group
.channelHeader__35a7e {
    background: $black;

    .channelName__35a7e {
        svg {
            zoom: 1.2;
        }

        .channelNameSpan__35a7e {
            font-size: 18px;
            line-height: 24px;
            margin: -$size-s 0 0 $size-s;
        }
    }

    .dmIcon__35a7e,
    .guildIcon__35a7e {
        border-radius: $size-max;
        border: $size-s solid $cream;
        background: $red;
    }
}

// Message
.messageContainer__95796,
.messages__1ccd1 {
    background: unset;
}

.jumpButton_ed0c8c {
    @include card.round;
    padding-top: 0;

    &:hover.text_ed0c8c,
    .text_ed0c8c {
        color: $cream;
    }
}

// For you
.container__0f711 {
    background: unset;

    // Unread activity
    .unread__6fddf {
        @include pip.pip($COLOR: $cream);
        left: 0;
        top: 24px;
    }
}

// Close section
.tertiary_ad6d80 {
    &,
    &:hover:not(.disabled__4d064) {
        background: unset;
        color: $cream;
    }
}

// No messages
.iconContainer_d404a3 {
    .icon_d404a3 {
        color: $black;
        background: $cream;
    }
    .stars_d404a3 path {
        fill: $cream;
    }
}
