@use "../../top/vars" as *;
@use "../../top/card";

// Select language on uploaded text file

.languageSelector__4d95d {
    @include card.outer;

    .item__97e86 {
        border-radius: $size-max;
        color: $cream;
        margin-bottom: 0;

        &:hover:not(.disabled__97e86),
        &.selected__97e86 {
            background: $cream;
            color: $black;
        }
    }
}
