@use "../../top/vars" as *;
@use "../../top/card";

// Display Roles filter in Server Settings > Server Members

.container__3dde2 {
    @include card.outer;

    .item__97e86 {
        color: $cream;
    }

    .focused__97e86,
    .item__97e86:hover:not(.disabled__97e86),
    .selected__97e86 {
        background: unset;
        color: $cream;
    }
}
