@use "../../top/vars" as *;
@use "../../top/card";

// Right click menu

.colorDefault_c1e9c4 {
    border-radius: $size-max;
    color: $cream;

    :is(.caret_c1e9c4, .checkbox_c1e9c4, .radioSelection_c1e9c4, .subtext_c1e9c4) {
        color: $cream;
    }

    .check_c1e9c4 {
        color: $black;
    }

    &.focused_c1e9c4,
    &:active:not(.hideInteraction_c1e9c4) {
        background: $cream;
        color: $black;

        :is(.caret_c1e9c4, .checkbox_c1e9c4, .radioSelection_c1e9c4, .subtext_c1e9c4) {
            color: $black;
        }

        .check_c1e9c4 {
            color: $cream;
        }
    }
}

.separator_c1e9c4 {
    display: none;
}
