@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Pinned messages in current channel

.messageGroupWrapper__45690 {
    background: unset;
    border: 0;
    .jumpButton__45690 {
        @include card.round;
        height: 20px;
        padding: 4px;
        padding-top: 0;

        div {
            color: $cream;
            line-height: 24px;
        }
    }
}

.image__45690 {
    @include filter.sepia;
}

.header__45690 {
    padding: 12px 16px;

    .closeIcon__45690 {
        &,
        &:hover {
            color: $cream;
        }
    }
}
