@use "../../top/vars" as *;

// Select friends to create group DM

.friend_bbd192 .discordTag_bbd192 {
    color: $cream;
}

#{$root} .friendSelected_bbd192 {
    background: unset;
}

#{$root} .tag_fea832 {
    border-radius: $size-max;
    background: $cream;
    color: $black;

    &:hover {
        opacity: 1;
    }
}
