@use "../../top/vars" as *;
@use "../../top/card";

// Soundboard picker

.picker__09f65 {
    @include card.outer;
    background: $black;
}

// Header
.header__0856d {
    background: $red;

    .settingsClickArea__61424 {
        color: $cream;
    }
}

// Server sidebar
.categoryList_a1e0e0 {
    top: 64px;
    left: $size-s;
    bottom: $size-s;
    border-bottom-left-radius: $size-l;

    .category_a1e0e0 {
        border-radius: $size-max;
        background: $red;
        overflow: hidden;
        box-shadow: 0 0 0 2px $black;
    }

    .categoryIconIcon_a1e0e0 {
        color: $cream;
    }
}

// Sound panel
.listWrapper__0856d {
    left: 47px;
    width: calc(100% - 47px);

    // Group header
    .sectionHeader__61424 {
        position: sticky;
        margin: 0;
        top: 0;
        z-index: 1;
        background: $black;
        color: $cream;
        height: 32px;
        align-items: center;

        .guildIcon__0fa6d {
            border-radius: $size-max;
            background: $red;
        }

        .sectionTitle__61424 {
            color: $cream;
            font-size: 12px;
            line-height: 12px;
            font-family: var(--font-primary);
        }
    }

    // Sound
    .soundButton__6d4ed {
        @include card.med;

        // Hover to select
        &.focused__6d4ed.hoverActiveBackground__6d4ed,
        &:focus-within.hoverActiveBackground__6d4ed,
        &:hover.hoverActiveBackground__6d4ed {
            background: unset;

            .secondaryButton__6d4ed {
                color: $cream;
            }

            .favoriteIconFavorite__6d4ed path:last-child {
                fill: $cream;
            }
        }

        // Hover to play
        .buttonOverlayBackground__6d4ed {
            background: $cream;
        }
        .buttonOverlay__6d4ed:has(.buttonOverlayBackground__6d4ed) {
            .playIcon_f40049,
            .secondaryButton__6d4ed {
                color: $black;
            }

            .favoriteIconFavorite__6d4ed path:last-child {
                fill: $black;
            }
        }
    }

    // Add sound
    .soundAddButton__896b6 {
        border: 0;

        .soundAddIcon__58c6c {
            color: $cream;
        }
    }
}
