@use "../../top/vars" as *;
@use "../../top/card";

// Status menu on clicking user panel

// Online status
.statusItem_af7fb7 {
    .description_af7fb7 {
        display: none;
    }
}

// Account switcher
.userMenuItem_d40c56 {
    .activeIcon_d40c56 {
        circle {
            fill: $black;
        }
        path {
            fill: $cream;
        }
    }
}
.focused_d40c56 {
    .userMenuUsername_d40c56 .userMenuDiscriminator_d40c56,
    .userMenuUsername_d40c56 .userMenuText_d40c56 {
        color: $black;
    }
    .activeIcon_d40c56 {
        circle {
            fill: $cream;
        }
        path {
            fill: $black;
        }
    }
}
