@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Threads in current channel

.container_d9c882 {
    background: $black;
    @include card.outer;
}

// Header
.header_d9c882 {
    height: auto;
    min-height: unset;
    padding: 12px 16px;

    .searchBox_d9c882 {
        @include card.round;
    }

    .closeIcon_d9c882,
    .threadIcon_d9c882 {
        color: $cream;
    }

    .divider_d9c882 {
        display: none;
    }
}

// Thread
.container__6764b {
    @include card.large;

    &:hover {
        border-color: $cream;
    }

    .threadName__6764b {
        color: $cream;
    }

    .moreUsers__183c2,
    .noAvatarIcon__6764b {
        background: $cream;
        color: $black;
    }
}

// No threads
.icon__1b24f {
    background: $cream;
    color: $black;
}
.stars__1b24f {
    @include filter.sepia;
}
