@use "../../top/vars" as *;
@use "../../top/card";

// Current happenings in voice channel
.container__4e30a {
    @include card.outer;

    // Channel info
    @at-root .popoutHeaderContainer__4e30a {
        // Channel icon
        @at-root .channelIcon__628e6 {
            color: $cream;
        }

        // Connected users
        @at-root .container_b1bfd4 {
            background: $cream;

            @at-root .peopleIcon_b1bfd4 {
                color: $black;
            }
            .userCountText_b1bfd4 {
                color: $black !important;
            }
        }
    }

    // No dividers
    .headerDivider__4e30a {
        display: none;
    }
    .activity__7ba6e + .activity__7ba6e {
        border-top: 0;
    }

    // Interact with activity button
    .button__7ba6e {
        &,
        &:hover {
            color: $cream;
        }
    }

    .activityVoiceChannel__2ef49 {
        .activityName__2ef49,
        .name__2ef49,
        .nameNormal__2ef49,
        .nameWrap__2ef49,
        .content__2ef49,
        .details__2ef49,
        .playTime__2ef49,
        .state__2ef49,
        .timestamp__2ef49 {
            color: $cream;
        }
    }
}
