@use "../../top/vars" as *;
@use "../../top/card";

// Stream preview / watch stream

#{$root} .streamPreview__6da2d {
    @include card.outer;

    .watchButton__6da2d {
        color: $cream;

        &:hover {
            border-color: $cream;
        }
    }

    .white__6da2d {
        color: $cream;
    }
}
