@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.backdrop__1a911 {
    background: linear-gradient($black, $red) !important;
}

.root__49fc1:not(:has(.wrapper_aa8ea9)) {
    @include card.outer;
    box-shadow: 0 0 20px $red !important;
}

#{$root} {
    .footer__49fc1,
    .header__49fc1 {
        background: $red;
    }

    .footerText__67dba,
    .footerText__67dba .anchor_edefb8 {
        color: $cream;
    }
}

// Header
.header__49fc1 {
    // Top title
    :is(h1, h2, h3, h4, h5):is(.defaultColor__77578, .defaultColor_b717a1) {
        color: $black;
        @include filter.shadow;
    }

    // Subtitle
    .defaultColor__77578 {
        color: $cream;
    }

    // Close button
    .close__49fc1 {
        opacity: 1;
        .closeIcon__49fc1 {
            color: $cream;
        }
    }

    .image-mRW1cg {
        @include filter.sepia;
        height: inherit;
        inset: unset;
    }
}

// Content
.content__49fc1:not(:has(.sidebarContainer__1d6c7), .guildList__66057) {
    padding-top: $size-m;
}

// Footer
#{$root} .footerSeparator__49fc1 {
    box-shadow: none;

    .button-18kCi0 {
        color: $cream;
    }
}
