@use "../../top/vars" as *;
@use "../../top/card";

// Add a new payment method

.cardInput__8b579 {
    @include card.round;
}

.cardIcon__8b579 {
    top: $size-l;
    left: $size-l;
    transform: none;
}
