@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.content_a8c622,
.perks__30359 {
    background: unset;
}

.heroImage__30359,
.perkIconContainer_c609c8 {
    @include filter.sepia;
}

.perkDescription_c609c8 {
    color: $cream;
}

.perkRow_c609c8 {
    border-bottom: 0;
}
