@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Create a server
.header_c04f35,
.header__78f69,
.header_b917ac {
    padding-bottom: 24px;
}

// Templates
.templatesList_c04f35 {
    margin-top: 0;
}

// Next step
.container_eb2cd2,
.rowContainer-3t7486 {
    @include card.large;

    &:hover,
    &:active {
        background: unset;
    }

    .arrow_eb2cd2,
    .rowArrow-TIwwIc,
    .rowIcon-1mRvtM {
        @include filter.sepia;
    }
}

// Add server icon
.uploadIcon_b917ac {
    color: $cream;

    circle {
        fill: $cream;
    }

    path[fill="white"] {
        fill: $black;
    }
}

// Invite link
.input__991a0 {
    background: unset;
}

// Link error
.formTitle__991a0.error__991a0 {
    color: $red;
}

// Example links
.sampleLink__991a0 {
    color: $cream;
}
