@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Server events

// Header
.header__49fc1 {
    .divider_d0b769 {
        visibility: hidden;
        margin-left: 0;
    }

    // Events icon
    .icon_d0b769,
    .iconButton_d0b769:hover .icon_d0b769 {
        color: $cream;
    }
}

// Event demo
.sparkleIcon__05cdc {
    @include filter.sepia;
}
.circle__710ee,
.iconContainer-36kI2p {
    background: $cream;
}
.icon-1DBCvl,
.icon-UTJvnX {
    color: $black;
}

// Event icon
.eventStatusBrand__08773 {
    color: $cream;
}

// Event creator

// Steps
.stepContainer__5537c {
    cursor: pointer;

    // Text
    .colorMuted_c9946a {
        color: $cream;
    }
    .colorBrand_c9946a {
        color: $red;
    }

    // Bars
    .progressBar__5537c {
        background: $cream;

        &.selectedProgressBar__5537c {
            background: $red;
        }
    }
}

// Start date calendar icon
.icon__9bb02 {
    color: $cream;
}

// More menu options
.icon-12Gd96 {
    color: $cream;
}

// Calendar popout
.didRender_faf9c0 .calendarPicker_d27f17 {
    @include card.outer;
}

// Upload image
.imageUploaderHint_e4d0bf {
    color: $cream;
}

// Edit image
.overlay__11787 {
    box-shadow: 0 0 200px $black;
    border-color: $cream;
}
.icon__11787 {
    color: $cream;
}

// Event card
:is(#{$root} .previewCard_f70348, .card__88264) {
    @include card.med;

    // New event
    .newBadge__29021 {
        div {
            color: $black !important;
        }
    }

    // People count
    .rsvpCount_b5010b {
        background: $cream;

        .rsvpIcon_b5010b {
            color: $black;
        }
        div {
            color: $black !important;
        }
    }

    // Channel
    .channelContainer__88264 {
        color: $cream;
    }

    .divider__88264 {
        display: none;
    }
}

// Close event creator
.close_a2844c {
    &,
    &:hover {
        color: $cream;
    }
}

// Close full event info
.closeIconBanner__4efb4 {
    &,
    .closeButton__4efb4:focus &,
    .closeButton__4efb4:hover & {
        color: $black;
        background: $cream;
        border-radius: $size-max;
    }
}

// Full event info
// Tabs
.container__4efb4 {
    border-bottom: $size-xs solid $cream;
    background: $red;
}

// Description
.contentContainer__4325e {
    background: unset;

    .row__4591d,
    .listRow-3v94Wr {
        color: $cream;
    }

    // username
    .creator__4591d {
        font-family: var(--font-display);
    }
}
