@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Try out forums
.container_ee8e87 {
    margin-top: 0;
    background: $black;

    // Forum panel
    .browser_ee8e87 {
        // Tag
        .tag_ee8e87,
        .inlineTag_ee8e87 {
            background: $cream;
            color: $black !important;
        }

        // Post
        .post_ee8e87 {
            @include card.large;

            .bullet_ee8e87 {
                display: none;
            }
        }
    }

    // Thread panel
    .previewContainer_ee8e87 {
        background: $black;
        border-left: $size-s solid $cream;
        padding: 0;
        height: 100%;

        .preview_ee8e87 {
            background: unset;
        }

        .forumPostIcon_ee8e87,
        .opTag_ee8e87 {
            background: $cream;
            color: $black;
        }

        .topSeparator_ee8e87,
        .bottomSeparator_ee8e87 {
            display: none;
        }

        .fakeReactions_ee8e87 {
            @include card.round;
        }

        .chatInput_ee8e87 {
            @include card.round;
        }
    }
}
