@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Ctrl+T quickswitcher

// Root
.container_ac6cb0 {
    height: 365px + 12px;
    background: $black !important;
}

.quickswitcher_ac6cb0 {
    box-shadow: none;
    background: $black;
    color: $cream;
}

// Searchbox
.input_ac6cb0 {
    @include card.round;
}

// Results
.scroller_ac6cb0 {
    background: unset;

    .contentDefault__71961,
    .contentUnread__71961,
    .header__71961,
    .icon__71961,
    .misc__71961,
    .note__71961 {
        color: $cream;
    }
}

// Old ping bubble
.wrapper_dc0b29 {
    background: $cream;
    color: $black;
    border-radius: $size-max;
    font-family: var(--font-display);
    line-height: 12px;
    width: 18px;
    padding: 0 0 5px 6px;
}

// No results
.emptyState_ac6cb0 {
    @include filter.sepia;
}

// Footer tip
.protip_ac6cb0.hasContent_ac6cb0 {
    border-top: 0;
}
