@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Welcome and set name in student hub
.formImage__23a6b {
    @include filter.sepia;
}

// Add server to student hub
.tabBar__66057.top_b3f026 {
    padding-top: 0;
    margin-top: 0;
    width: calc(100% + 18px);
}

.guildList__66057 {
    margin-top: 0;
    padding-top: $size-m;

    .guildRow__66057 {
        @include card.large;

        .icon_f34534 {
            background: $red;
            border: $size-xs solid $cream;
        }

        & > img {
            display: none;
        }
    }
}
