@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/svg";

// Join a student hub
.sidebarContainer__1d6c7 {
    background: $black;
    border-right: $size-s solid $cream;

    .iconContainer_c1298c {
        background: $cream;
        .icon_c1298c {
            background: svg.$hub;
        }
    }
}

.topImage__30f2d {
    @include filter.sepia;
}

.close__49fc1 {
    right: 12px;

    &,
    &:hover {
        color: $cream;
    }
}
