@use "../../top/vars" as *;

// Chat panel
.chatContent_f75fb0 {
    background: unset;

    // Channel info
    .emptyChannelIcon__00de6 {
        display: none;
    }
    .description__00de6 {
        color: $cream;
    }
}
