@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Chatbox
.form_f75fb0::before {
    display: none;
}

// Area including bars
.channelTextArea__74017 {
    background: unset;

    // Bars
    .stackedBars__74017 {
        @include card.round;
        margin-bottom: $size-s;
        // width: fit-content;
    }

    // Reply bar
    .replyBar__841c8 {
        background: $black;

        // Cancel reply
        .closeButton_e876a8 {
            color: $cream;
        }
    }
}

// Follow channel only
.wrapper__44df5 {
    @include card.outer;
    border-radius: $size-max;

    .image__44df5 {
        @include filter.sepia;
    }
}

// Actual typing area
.scrollableContainer__74017 {
    @include card.outer;

    .channelTextAreaDisabled__74017 & {
        opacity: 1;
    }

    // Attachments
    .channelAttachmentArea_b77158 {
        .upload_aa605f {
            @include card.large;
        }
        .actionBar_aa605f {
            transform: none;
        }
    }

    // Attachment icons
    .icon__41ea0 {
        &.video__41ea0,
        &.acrobat__41ea0,
        &.ae__41ea0,
        &.sketch__41ea0,
        &.ai__41ea0,
        &.archive__41ea0,
        &.code__41ea0,
        &.document__41ea0,
        &.photoshop__41ea0,
        &.ps__41ea0,
        &.spreadsheet__41ea0,
        &.webcode__41ea0,
        &.audio__41ea0,
        &.unknown__41ea0 {
            @include filter.sepia;
        }
    }

    // Add attachment button
    .attachButton__0923f {
        &,
        &:hover {
            .attachButtonPlus__0923f {
                fill: $cream;
            }
        }
    }

    // Right side buttons
    .button__24af7,
    .active__24af7 .buttonWrapper__24af7,
    .buttonWrapper__24af7:hover {
        color: $cream;
    }
    &.webkit__8d35a .buttons__74017 {
        margin-right: 0;
    }

    // Emoji button
    @at-root .sprite__04eed {
        filter: saturate(var(--saturation-factor, 1)) sepia(1) !important;
        transform: none !important;
    }

    // "Message #channel-name" placeholder
    .placeholder__1b31f {
        font-family: var(--font-display);
        line-height: 1.2rem;
        color: $cream;
        opacity: 0.7;
    }

    // Formatting preview
    // Typed links
    .fakeLink_ada32f {
        color: $red;
    }

    // Inline code
    .after_inlineCode_ada32f,
    .before_inlineCode_ada32f,
    .inlineCode_ada32f {
        background: unset;
    }

    // Block code
    .codeBlockSyntax_ada32f {
        font-family: var(--font-code);
    }
}

// Autocomplete
#{$root} .autocomplete__13533 {
    @include card.outer;

    // Emoji/username autocomplete

    // Query
    .contentTitle__13533 {
        font-size: 20px;
        font-family: var(--font-display);
        padding: 0 8px;

        strong {
            font-family: var(--font-primary);
            font-size: 16px;
            color: $cream;
        }
    }

    // Username
    .autocompleteRowContentPrimary__13533:not(:last-child) > div {
        font-family: var(--font-display);
    }

    // Command autocomplete
    .listItems_affa7e {
        right: 0 !important;
    }

    .icon__1a58a {
        color: $cream;
    }

    // Category list
    .wrapper_b1e4f3 {
        background: $cream;
        width: 56px - ($size-s * 2);

        .wrapper_dc0b29 {
            background: unset;
        }

        .listItems_affa7e {
            left: 12px - $size-s !important;
        }

        // Category
        .wrapper_b1e4f3,
        .svg_d48241 {
            border-radius: $size-max;
            box-shadow: 0 0 0 2px $black;
            background: $red;
        }

        // Selected category
        .selected_ca5f52,
        .selected_ca5f52:hover {
            display: none;
        }

        // Default category
        .icon__1a58a {
            color: $cream;
        }

        // Server category
        foreignObject {
            mask: none;
        }

        // Divider
        .builtInSeparator_b1e4f3 {
            display: none;
        }
    }

    // Suggestion list
    .categorySection_d1405b {
        // Category header
        .categoryHeader_d1405b {
            @include card.round;
            top: $size-m;
            height: 32px + ($size-s * 2);

            &::after {
                display: none;
            }

            .header__14245 {
                color: $cream;
            }
        }

        // Suggestion
        .itemWrapper_d1405b {
            // Mandatory params
            .option_a19535 {
                background: transparent;
                color: $red;
            }

            // Optional params
            .optionals__920ab {
                border-left: 0;
                opacity: 0.7;
            }

            // Optional param counter
            .optionalCount__920ab {
                color: $cream;
            }
        }

        // Loading suggestion
        .usageWrapper__78aa3,
        .description__78aa3,
        .source__78aa3 {
            background: $cream;
            opacity: 0.3;
        }
    }
}

// Sticker suggestion
.container_d4ced7 {
    @include card.outer;

    foreignObject {
        mask: none;
    }

    .descriptionText_d4ced7 {
        line-height: 28px;
    }

    .closeIcon_d4ced7 {
        &,
        &:hover {
            color: $cream;
        }
    }

    .maskBackground_d4ced7,
    .textDivider_d4ced7,
    .containerBackground_d4ced7 {
        display: none;
    }
}

// Typing info
.typing_b88801 {
    // Users who are typing
    .typingDots_b88801,
    .dots__5ad89 {
        color: $cream;
    }

    // Usernames
    strong {
        font-family: var(--font-display);
    }
}
