@use "../../top/vars" as *;

// Messages loading
@at-root .wrapper_d852db {
    background: transparent;

    // Fake message block
    .wrapper_fc8177 {
        background: transparent;

        .avatar_fc8177,
        .attachment_fc8177,
        .blob_fc8177 {
            background: $cream;
        }
    }
}
