@use "../top/vars" as *;
@use "../top/button" as button;

#{$root} {
    :is(.lookFilled__201d5, .lookOutlined__201d5, .lookInverted_a299dc) {
        border-radius: $size-max;
        border: $size-xs solid;

        &.colorPrimary__201d5 {
            @include button.button($black, $cream);

            &[aria-disabled="true"],
            &:disabled {
                --button-secondary-background-disabled: $black;
            }
        }

        &.colorGreen__201d5 {
            @include button.button($black, $cream);
        }

        &.colorRed__201d5 {
            @include button.button($black, $red);
        }

        :is(&.colorBrand__201d5, &.colorBrandNew__8872c) {
            @include button.button($black, $cream);
        }

        &.colorWhite__201d5 {
            @include button.button($red, $cream);
        }

        &.cta_a3a802,
        &.button__6ac9e,
        &.buttonColor__7b3e8,
        &.buttonColor_dfbe6b,
        &.buttonColor_e36233 {
            @include button.button($black, $cream);
        }

        &.viewServerButton_adff39 {
            @include button.button($black, $cream);
        }

        &.buttonWhite_b322b1 {
            color: $cream !important;
            border-color: $cream !important;
        }
    }

    .lookLink__201d5 {
        &.colorPrimary__201d5 {
            @include button.link($cream);
        }

        &.colorLink__201d5 {
            @include button.link($red);
        }

        &.colorRed__201d5 {
            @include button.link($black);
        }

        &.colorWhite__201d5 {
            @include button.link($cream);
        }
    }

    .borderPrimary__386cf {
        border-color: $cream !important;
    }

    .button__33db6 {
        @include button.button($black, $cream);
        border-radius: $size-max;
        border: $size-xs solid;

        &:hover {
            border-color: $cream;
        }
    }
}

.lookBlank__201d5 {
    border-radius: $size-max;

    .buttonContainer_ffab0d & {
        color: $red;
        padding: 6px 12px;
        border: $size-xs solid;
    }
}

// Action buttons
.button_f7ecac {
    &,
    &:hover,
    &:active {
        color: $cream;
    }

    &:active {
        padding: 4px;
    }

    &.dangerous_f7ecac {
        &,
        &:hover,
        &:active {
            color: $red;
        }
    }
}

.button_e131a9.buttonColor_e131a9 {
    &,
    &:hover {
        background: $black;
        color: $cream;
    }
}
