@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

// Info cards, mainly in settings
#{$root} .card__73069 {
    @include card.large;
    background: $black;

    a {
        color: $red;
    }

    .icon_ac86f6.lightThemeColorOnly__60b20 {
        color: $cream;
    }
}
