@use "../top/vars" as *;
@use "../top/text";

// Body font - similar to Adrianna
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Mukta&display=swap");

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Groteskia";
    src: url("https://saltssaumure.github.io/ieytd-discord-theme/font/groteskia.oblique.otf");
    font-weight: normal;
    font-style: oblique;
}

:root {
    --font-primary: "Mukta", Helvetica, Arial, sans-serif;
    --font-display: "Groteskia", "Impact", sans-serif;
    --font-headline: "Groteskia", "Impact", sans-serif;
    --font-code: "PT Mono", "Consolas", monospace;
}

code,
.markup__75297 code.inline,
.codeBlockText_ada32f,
.codeLine_ada32f {
    font-family: var(--font-code);
}

.eyebrow_dd94cb,
.eyebrow__1fb7a,
.eyebrow__68c11,
.eyebrow__42dd7,
.eyebrow_f92eb2,
.eyebrow_c15ff6,
.eyebrow__5d57b,
.eyebrow_a7acae,
.eyebrow_b717a1,
.eyebrow_e5a66c,
.eyebrow_cf4812,
[class*="heading-deprecated-12-"] {
    @include text.sizeup(12px, 16px);
}

.markup__75297 h3,
[class*="heading-sm-"] {
    @include text.sizeup(14px, 18px);
}

.h3_b717a1 {
    @include text.sizeup(16px, 24px);
}

.h2_b717a1,
.h4_b717a1,
[class*="heading-md-"] {
    @include text.sizeup(16px, 20px);
}

.markup__75297 h2,
.h1_b717a1,
.userTag__1fed1,
[class*="heading-lg-"] {
    @include text.sizeup(20px, 24px, 12px);
}

[class*="heading-xl-"] {
    @include text.sizeup(24px, 30px, 12px);
}

.markup__75297 h1,
[class*="heading-xxl-"] {
    @include text.sizeup(32px, 40px, 12px);
}

.defaultColor_e9e35f,
.defaultColor__77578,
.defaultColor_b717a1,
.colorStandard_c9946a,
.description_ddd181,
.labelDescriptor_ddd181,
.h5_b717a1,
.label_b717a1,
.legend_b717a1,
.markup__75297,
.title__0d850,
.userTag__1fed1,
.base_eb1a4c,
.channelName__5df34,
.sourceName_ebafdd,
.imageUploader_e4d0bf .sizeInfo_e4d0bf,
#{$root} .inputDefault__591c7,
.guildSource_ebafdd,
#{$root} .hiddenMessage_e7355b,
.body__45690,
.input_fea832 {
    color: $cream;
}

.description_db0ee9,
.helpText_db0ee9,
.titleText__81b3e,
:is(h1, h2, h3, h4),
:is(span, div):not(.desaturateUserColors__41f68, .username_d272d6, .username_c19a55, .username__07f91) {
    &:where([style^="color"]) {
        color: $cream !important;
    }
}

.anchor_edefb8,
a,
.markup__75297 a {
    color: $red;
}

::selection {
    color: $black;
    background: $cream;
}
