@use "../top/vars" as *;
@use "../top/card";
@use "../top/grabber";
@use "../top/svg";

::placeholder {
    color: $cream !important;
}

.placeholder__3f413 {
    color: $cream;
}

// Typing inputs
.input__0f084 {
    @include card.round;

    &:hover,
    &.disabled__0f084,
    &.focused__0f084,
    &:focus {
        border-color: $cream;
    }

    &.error__0f084 {
        border: $size-s solid $red;
    }
}

// Single line input
.inputPrefix-1HHwWv {
    color: $cream;
}
.inputDefault__0f084 {
    @include card.round;
}

// Multi line input
.textArea__7aff3 {
    @include card.xlarge;
}

// Char limit
.characterCount__61e39,
.maxLength__7aff3 {
    color: $cream;
}

// Click to copy input
#{$root} .copyInput_fffc15 {
    @include card.round;
}

// Keybind editor
.editIcon__2636e {
    background: svg.$keyboard;
}

// Dropdown selector
.lookFilled__3f413.select__3f413 {
    border-radius: $size-max;
    background: $black;
    border: $size-xs solid $cream;
}

// Toggle
.container__87bf1 {
    zoom: 1.2;

    &:not(.checked__87bf1) {
        background-color: $red !important;
        color: $red;
    }

    &.checked__87bf1 {
        background-color: $cream !important;
        color: $cream;
    }

    rect {
        fill: $black;
    }

    path {
        fill: currentColor;
    }
}

// Checkbox
#{$root} .checkbox_f525d3 {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.checked_f525d3 {
        background: $black !important;
        border-color: $cream !important;

        path {
            fill: $cream;
        }
    }
}

.checkbox_d9161f {
    border: $size-xs solid $cream;
    border-radius: $size-max;

    &.selected_d9161f {
        background: unset;
        border: $size-xs solid $cream;
    }

    .checkmark_d9161f {
        color: $cream;
    }
}

// Slider
.slider_a562c8 {
    // Tick
    .markDash_a562c8 {
        background: $red;
    }
    // Label
    .markValue_a562c8 {
        color: $cream;
    }

    // Bar
    .bar_a562c8 {
        background: $red;
        .barFill_a562c8 {
            background: $cream;
        }
    }

    // Grabber
    .grabber_a562c8 {
        @include grabber.full;
    }
}

// Mini slider
.mini_a562c8 {
    .grabber_a562c8 {
        @include grabber.mini;
    }
}

// Keybind
#{$root} .container_f89b2c {
    @include card.large;
    border-radius: $size-max;

    &:not(.disabled__97701):focus-within,
    &:not(.disabled__97701):hover {
        border-color: $red;
    }

    // Current keys
    .input_f89b2c {
        color: $cream;
    }
}

// Dropdown
.select__3f413,
.wrapper__3f413 {
    color: $cream;
}

// Dropdown options
.popout__3f413,
.popout__3f413.popoutPositionTop__3f413 {
    @include card.xlarge;
    background: $black;

    &::-webkit-scrollbar {
        display: none;
    }

    .option__3f413 {
        color: $cream;

        &[aria-selected="true"]:not(.option__3f413.multi__3f413),
        &:hover,
        &:focus,
        &.focused__3f413 {
            background: unset;
            color: $cream;
        }
    }
}

// Selected
.selectedIcon__3f413 {
    color: $cream;

    circle {
        fill: $black;
    }
}

// Search input and icon
.icon_fb52f0,
.input__48d49 {
    color: $cream;
}

// Search input type 2
.container__33507 {
    @include card.round;
}
