@use "../top/vars" as *;

// Rotating cubes
.wanderingCubes__0b5bb {
    zoom: 3;
    .item__0b5bb {
        background: $red;

        &:last-child {
            background: $cream;
        }
    }
}

// Three dots
.lowMotion__0b5bb .item__0b5bb,
#{$root} .lookFilled__201d5 .spinnerItem__201d5 {
    background: $cream;
}

// Spinner
.circular__0b5bb {
    .path__0b5bb {
        stroke: $cream;
    }
}
