@use "../top/vars" as *;

// Beta tag
.textBadge_f05120.eyebrow_c15ff6 {
    font-size: 14px;
    line-height: 12px;
    background: $cream !important;
    color: $black;
}

// Boost requirement tags
.availabilityIndicator__40463,
.guildFeatureAvailabilityIndicator_cd0bbe {
    align-items: baseline;
    background: unset;
    margin-bottom: 0;
}

// Bot tag
.px__82f07.botTag__82f07,
.rem__82f07.botTag__82f07 {
    border-radius: $size-max;
}

// OP tag
.rem__82f07.botTag__82f07.botTagOP_e48ddb {
    border-radius: $size-max;
    position: relative;
    margin-top: 0;
    top: -0.25rem;
}

// Bot tag
.botTagRegular_c89c9a {
    background: $cream;
    color: $black;
}

// Safety setup > Activity alerts channel
.valuePill__5dac8 {
    background: $cream;
    color: $black !important;
}
