@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Game invite
#{$root} .invite__4d3fa,
// Audio
#{$root} .wrapperAudio_f316dd,
// Generic file
.fileWrapper__0ccae.newMosaicStyle_b52bef,
.container__4d95d,
// Gift
.giftCodeContainer_b7e1cb .tile__72090,
// .hidden__54ab5,
// Server invite
.wrapper_d5f3cd {
    @include card.large;
}

.messageAttachment__5dae1 {
    overflow: visible;
}

// Remove embed
.embedSuppressButton__623de {
    right: 4px;
    top: 4px;
    background: $cream;
    border-radius: $size-max;
    width: 22px;
    height: 22px;
    color: $black;
    padding: $size-s;
    box-sizing: border-box;
    z-index: 2;

    &:hover {
        background: $red;
        color: $black;
    }
}
