@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/filter";

// Game invite / listening party embed
.invite__4d3fa {
    // Text
    .header__4d3fa,
    .partyStatus__4d3fa,
    .name__4d3fa {
        color: $cream;
    }

    // Links
    .textLink__4d3fa,
    .message-group .textLink__4d3fa {
        color: $red;
    }

    // Party members
    .partyMemberEmpty__4d3fa,
    .moreUsers__4d3fa {
        background: $cream;
        color: $black;
        opacity: 0.7;
    }

    // Session over
    .coverImageNotActionable__4d3fa,
    .artworkSpotifySessionEnded__4d3fa {
        @include filter.sepia;
    }

    // Help
    .helpIcon__4d3fa {
        background: $cream;
        g {
            fill: $black;
        }
    }
}
