@use "../../../../top/vars" as *;
@use "../../../../top/card";

// Webpage link embed
#{$root} .embedFull__623de {
    @include card.large;

    .gridContainer__623de {
        border-left: $size-m solid;
        border-left-color: inherit;
    }

    .embedAuthorName__623de,
    .embedFieldName__623de,
    .embedTitle__623de,
    .embedDescription__623de,
    .embedFieldValue__623de,
    .embedFooterText__623de {
        color: $cream;
    }
}
