@use "../../../../top/vars" as *;
@use "../../../../top/card";
@use "../../../../top/status";
@use "../../../../top/filter";

.wrapper_d5f3cd {
    // Server name
    .infoTitle_ae2544 {
        align-items: baseline;
    }

    // Member count
    .count_d5f3cd {
        color: $cream;
    }

    // Status dots
    .status_d5f3cd {
        background: $cream;
    }

    // Offline status
    .statusWrapper_d5f3cd:has(.statusOffline_d5f3cd) {
        position: relative;
        &::before {
            @include status.dot;
            position: absolute;
            left: 2px;
        }
    }

    // Server icon
    .guildIcon_d5f3cd {
        background-color: $red;
        border-radius: $size-max;
        width: 56px;
        height: 56px;

        // Expired invite icon
        &.guildIconExpired_d5f3cd {
            @include filter.sepia;
        }
    }
}
