@use "../../../../top/vars" as *;

// Text area
.textContainer__4d95d,
.hljs {
    background: $black;
}

// Footer
.footer__4d95d {
    background: $red;

    .footerGap__4d95d {
        display: none;
    }

    .downloadSection__4d95d,
    .codeIcon__4d95d:hover {
        color: $cream;
    }
}
