@use "../../top/vars" as *;
@use "../../top/channel";

// Overall background
.privateChannels__35e86,
#{$root} .scroller__99e7c {
    background: $red;
}

// Find or start a conversation
.searchBar__35e86 .searchBarComponent__35e86 {
    border-radius: $size-max;
    border: $size-xs solid $cream;
    background: $black;
    color: $cream;
    text-align: center;
}

// Direct messages header
.container_cc72c1.privateChannelsHeaderContainer__99e7c {
    padding: 0;
    align-items: flex-end;

    &:hover,
    .privateChannelRecipientsInviteButtonIcon__99e7c {
        color: $black;
    }
}

// DM
.channel__972a0 {
    background: $black;
    height: channel.height(44px);
    box-sizing: border-box;
    border: $size-xs solid $cream;
    border-left: 0;
    border-radius: 0 channel.radius(44px) channel.radius(44px) 0;
    margin: $channel-spacing 0 0;
    max-width: unset;

    .layout__20a53 {
        height: 36px;
    }

    // Text
    .interactive_bf202d:focus-within,
    .interactive_bf202d:hover,
    .highlighted__20a53 {
        color: $cream;
    }

    // Mentions
    .base__5ed84 {
        border: $size-xs solid $cream;
        color: $black;
        padding: 0 0 4px 2px;
        background: $cream !important;
    }
}

// Inverted when connected or selected
.channel__972a0:has(.interactiveSelected__972a0, .selected_bf202d) {
    background: $cream;
    border-color: $black !important;

    .interactiveSelected__972a0,
    .overflow__82b15,
    .highlighted__20a53 {
        color: $black;
    }

    // Mentions
    .base__5ed84 {
        border-color: $black;
        color: $cream;
        background: $black !important;
    }
}
