@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// DM with user

//
.divider_b50d96 {
    display: none;
}

// Wave to user
.compactButton__7ff28,
.compactButtonDisabled__7ff28 {
    @include card.round;
}
.compactButton__7ff28:hover {
    background: $black;
}

// Channel name change message
.channelNameChange__2f82d {
    color: $cream;
    .content__235ca {
        align-items: baseline;
    }

    strong {
        font-family: var(--font-display);
    }
}

// Actions
.iconContainer__235ca {
    @include filter.sepia;
}

// Profile panel
.profilePanel_b433b4 {
    border-left: $size-m solid $cream;

    .userPanelInnerThemed_c69a7b {
        background: $black;
    }

    .badgeList_ab525a {
        background: unset;
    }

    // Mutual connections
    .profilePanelConnections_b433b4 {
        gap: $size-m;

        .mutualFriendsList_b433b4,
        .mutualGuildsList_b433b4 {
            @include card.xlarge;
            width: auto;
        }

        .iconWrapper_a4a127 {
            color: $cream;
        }

        .icon_f34534 {
            border-radius: $size-max;
            background-color: $red;
            border: $size-xs solid $cream;
        }
    }
}
