@use "../../top/vars" as *;
@use "../../top/filter";

.container_dc2e0e .contentPanel_dc2e0e {
    background: $black;
    align-items: center;

    // Boxes
    .container__5dbf8,
    .container__8e680,
    .container__5b321,
    .box_d9914b {
        background: $black;
        border: $size-xs solid $red;
    }

    // Inner box
    .row__0624f {
        background: $black;
        border: $size-xs solid $cream;
    }

    // Text
    .text-sm-medium_bc6ffc,
    .groupHeader__0624f,
    .anchor_edefb8,
    .header__0624f,
    .text-xs-medium__220aa,
    .eyebrow_e5a66c {
        color: $cream !important;
    }

    // Sepiaify images
    .headerImage__5dbf8,
    .artContainer__5b321,
    .bannerArt_d9914b,
    .image__379fe {
        @include filter.sepia;
    }

    // Icons
    :is(.circle__8cc9a, .iconContainer__0624f) {
        background: unset;

        svg {
            width: 36px;
            height: 36px;

            path {
                fill: $cream;
            }
        }
    }

    // Steps
    .stepNumber_d9914b {
        background: unset;
        h2 {
            color: $red !important;
            font-size: 32px;
            margin-top: -8px;
        }
    }

    // Discord forgot to style this scrollbar
    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-auto-track);
    }
}
