@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/tabs";
@use "../../top/filter";

// Friends panel

// Header
.container__9293f {
    .topPill_b3f026 {
        padding-top: 0;
        position: relative;
        margin-bottom: -9px;
    }

    .addFriend__133bf.addFriend__133bf.addFriend__133bf {
        @include tabs.tab($ISINVERT: true);

        &[aria-selected="true"] {
            @include tabs.tab;
        }
    }
}

// Main panel
.peopleColumn__133bf {
    background: $black;

    // Search bar
    .searchBar__5ec2f {
        background: $red;
        margin: 0;
        border-radius: 0;

        .inner__999f6 {
            @include card.round;
            margin: $size-m;
        }
    }

    // Title
    .sectionTitle__5ec2f {
        background: $red;
        border-bottom: $size-s solid $cream;
        .title__1472a {
            color: $black;
            margin: 0 0 $size-m;
        }
    }

    // Users
    .peopleList__5ec2f {
        margin-top: 0;
        .content__99f8c {
            display: flex;
            flex-direction: column;
            gap: $size-m;
        }
    }

    // User
    :is(
        .peopleListItem_cc6179,
        .peopleListItem_cc6179.active_cc6179 + .peopleListItem_cc6179,
        .peopleListItem_cc6179:hover + .peopleListItem_cc6179
    ) {
        @include card.large;
        margin: 0 $size-m;
        padding: 16px $size-m;

        // Text
        :is(.username__0a06e, .discriminator__0a06e, .text__19b6d, .icon_c9d15c, .icon_f8fa06, .subtext__0a06e) {
            color: $cream;
        }

        // Name
        .username__0a06e {
            font-family: var(--font-display);
            margin-top: -0.2rem;
        }

        // Discrim
        .discriminator__0a06e {
            visibility: visible;
        }

        // Message button
        .actionButton_f8fa06 {
            background: unset;

            &:first-child {
                display: none;
            }
        }
    }

    .header__94b08 {
        border-bottom: 0;

        // Add friend search
        .addFriendInputWrapper__72ba7 {
            padding: 0;
            background: unset;
            border: 0;
        }

        .input__72ba7 {
            padding-left: $size-m;
        }
    }

    // Explore discoverable
    .container_a14595 {
        @include card.round;
        padding: 0;

        .icon_a14595 {
            border-radius: $size-max;
            @include filter.sepia;
        }

        .arrow_a14595 {
            &,
            &:hover {
                color: $cream;
            }
        }
    }
}

// No friends
.image__08515 {
    @include filter.sepia;
}

// Active now sidebar
.container__7d20c {
    background: $red;
    border-left: $size-m solid $cream;

    .scroller__7d20c {
        border-left: 0;
        padding-top: 0;
    }

    // Header
    .header__7d20c {
        text-transform: uppercase;
        font-style: oblique;
        color: $black;
        text-align: center;
        margin-bottom: 8px;
    }

    // User card
    .itemCard__7e549 {
        @include card.xlarge;

        &,
        &.outer_bf1984:hover {
            background: $black;
        }

        // Game
        .inset_bf1984 {
            background: unset;
            border: $size-xs solid $cream;
            border-radius: $size-l $size-l 0 0;
            border-bottom: 0;
            margin-bottom: -16px;

            .section__00943 {
                background: unset;
                border-radius: 0;
            }
        }

        // Text
        .defaultColor__77578,
        .textContent__00943 {
            color: $cream !important;
        }
    }

    // No activity
    .emptyCard__7e549 {
        @include card.xlarge;
        background: $black;

        .emptyText__7e549 {
            color: $cream;
        }
    }
}
