@use "../../top/vars" as *;

// Library panel
.container_ad5cdf .container__4a84a,
.container_ad5cdf .scroller_fb04e1 {
    background: $black;
}

// Sticky header
.header_adb41f {
    background: $red;
    width: 100%;
    border-bottom: $size-s solid $cream;

    .headerCell_adb41f {
        border-left: 0;
    }

    .headerCellContent__5fe04 {
        font-family: var(--font-display);
        font-size: 20px;
        color: $black;
    }
}

// Game
.rowWrapper_adb41f {
    padding-bottom: $size-xxs;
    margin-bottom: -$size-xxs;

    .row_adb41f {
        color: $cream;

        .nameCellText_adb41f,
        .textCell_adb41f {
            color: $cream;
        }
    }
}

// Settings
.container_ad5cdf {
    // Text
    .title__0d850,
    .description_ddd181,
    .h5_b717a1,
    .rowTitle_a6f654,
    .rowBody_a6f654,
    .defaultLocationCheckbox_a6f654 {
        color: $cream;
    }

    // Default install location
    .defaultIndicator_a6f654 {
        border-radius: $size-max;
        background: $cream;
        color: $black;
    }

    // Storage remaining wheel;
    .background__27106 {
        stroke: $black;
    }
    .foreground__27106 {
        stroke: $red;
    }
    .usageInfo__27106 {
        color: $red;
    }

    // Install location row
    .installationPath_a6f654 {
        box-shadow: none;
    }

    // Install location edit box
    .installationPathEditing_a6f654 {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-l;

        .separator_a6f654 {
            border-top: 0;
            margin-bottom: 0;
        }

        // Make this my default location
        .defaultLocationCheckbox_a6f654 {
            margin-top: 12px;
        }
    }
}
