@use "../../top/vars" as *;

// Message requests
#{$root} .content_f75fb0 {
    // Title
    .sectionTitle_dcc822 {
        color: $cream;
    }
    background: $black;

    .messageRequestItem_abb9ad {
        border-bottom: 0;

        .username_b8dbac {
            color: $cream;
            font-family: var(--font-display);
        }

        .timestampWithPreview_b8dbac {
            color: $cream !important;
        }
    }
}
