@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

.applicationStore_f07d62 .scroller_c880e8 {
    background: $black;
}

.hero-1gKM4P,
.ctaWrapperTier2-1hk2M8,
.ctaWrapperTier0-1GlgHE {
    background: $red;
}

.ctaWrapper-4Js5Q6,
.ctaButtonInner-2VRelf,
.checkmarkIcon_e4ef5c,
.closeIcon-3aZ-RA {
    color: $cream;
}

.heroHeading-2yVSUj,
.pricePerInterval_fd0764,
.ctaCopy-1CkXTE,
.perksGridFeatureHeading-3wq2Tn,
.existingSubscriberSpacing-3auAAB div {
    color: $cream !important;
}

.icon_ac86f6 {
    color: $red;
    height: 20px;
    width: 20px;
}

.heroImages-2g-v0-,
.heroLogo-2rSeWP,
.ctaWrapperTier2-1hk2M8 .ctaImages-1s97vM,
.ctaWrapperTier0-1GlgHE .ctaImages-1s97vM,
.featureImage-91H2fC,
.root__52b47,
.wumpusImageContainer_ac86f6,
.perksCardArt_b62c4e,
.logo_e4ef5c {
    @include filter.sepia;
}

.divider-2JN8Vy {
    display: none;
}

// Feature cards
#{$root} .feature-2IUcBI {
    background: $black;
    border: $size-xs solid $cream;

    // Early access badge
    .featureNewBadge-27qr_t {
        background: $cream !important;
        color: $black;
        line-height: 13px;
    }

    .learnMoreLink-2JwgbJ {
        color: $red;
    }
}

.card_f8e6bf {
    @include card.xlarge;

    .cardDescription__1f069 {
        background: linear-gradient(black, transparent);
    }
}

.tier0_ac86f6,
.tier2_ac86f6,
.bigPerkCard-1uwmWV,
.smallPerkCard-2sX_-- {
    @include card.xlarge;
    background: $black;
    overflow: visible;
}

.tier0_ac86f6.withTier0Rim_ac86f6::before,
.tier2_ac86f6.withTier2Rim_ac86f6::before {
    display: none;
}

.rowBottomBorder_e4ef5c {
    border-bottom: 0;
}

.tier2ColumnOuter_e4ef5c {
    border-color: $red;
}

.bogoPillWithSparkles-2cfttm,
.freeTrialPillWithSparkles-3fINgJ,
.freeTrialPillWithSparkles_ac86f6 {
    path {
        fill: $cream;
    }

    .freeTrialPill_ac86f6 {
        background: $red;

        div {
            color: $black;
        }
    }
}
