@use "../../top/vars" as *;

.pageWrapperBackgroundPrimary__36469 {
    background: $black;
}

.shopCard_c3d04b {
    --chat-border: #{$cream};
    --background-floating: #{$black};

    .darkCardBackground_c3d04b {
        background: $black;
    }

    .productName_c3d04b,
    .description__2ad50 {
        color: $cream;
    }
}
