@use "../../top/vars" as *;

// Channel category
.icon__29444 {
    color: $black;
    width: 20px;
    height: 20px;
}

:is(.icon__29444, .name__29444) {
    .wrapper__29444.muted__29444 & {
        color: $black;
        opacity: 0.6;
    }

    .wrapper__29444:hover &,
    .wrapper__29444.muted__29444:hover & {
        color: $black;
    }
}
