@use "../../top/vars" as *;
@use "../../top/pip";
@use "../../top/channel";

$icon-size: calc(20px + 6px);
$spine-size: calc($icon-size / 1.5);
$invertible: ":is(.name__2ea32, .icon__2ea32, .overflow__82b15, :is(.iconItem_c69b6d, .iconItem_c69b6d:hover) .actionIcon_c69b6d)";

// Category
.wrapperCommon__29444 {
    align-items: baseline;
    color: $black;
}

// Channel
.containerDefault_c69b6d {
    background: $black;
    height: channel.height(34px);
    box-sizing: border-box;
    border: $size-xs solid;
    border-left: 0;

    &:not(.container__5b40b .containerDefault_c69b6d) {
        border-color: $cream;
        border-radius: 0 channel.radius(34px) channel.radius(34px) 0;
        margin-top: $channel-spacing;
    }

    // Browse channels
    &.wrapper__2ea32 {
        margin-left: 0;
    }

    // Inner link
    .link__2ea32 {
        padding: 0 8px;
    }

    .name__2ea32 {
        line-height: $icon-size;
    }

    // Unread pip
    .unread__2ea32 {
        @include pip.pip($COLOR: $cream);
        margin-top: -(pip.$pip-size);
    }
}

// Names and icons
#{$invertible} {
    color: $cream;
    --interactive-normal: #{$cream};
}

// Channel icon
.icon__2ea32 {
    zoom: 1.3;
}

// Red when muted
.modeMuted__2ea32,
.modeMuted__2ea32:hover {
    #{$invertible} {
        color: $red;
        --interactive-normal: #{$red};
    }
}

// Cream when unread
.modeUnreadImportant__2ea32,
.modeUnreadImportant__2ea32:hover {
    #{$invertible} {
        color: $cream;
        --interactive-normal: #{$cream};
    }
}

// Inverted when connected or selected
.containerDefault_c69b6d:has(.modeConnected__2ea32, .modeSelected__2ea32),
.containerDefault_c69b6d.modeSelected__2ea32 {
    background: $cream;
    border-color: $black !important;
}

:is(.modeConnected__2ea32, .modeSelected__2ea32) {
    &,
    &:hover {
        #{$invertible} {
            color: $black;
            --interactive-normal: #{$black};
        }
    }
}

// Live channel
.iconLive__46869 {
    color: $red !important;
}

// Threads
.container__5b40b {
    overflow: hidden;
    border: solid $cream;
    border-width: 0 $size-xs $size-xs 0;
    width: 210px;
    border-radius: 0 0 channel.radius(34px) 0;

    // Thread
    .containerDefault_c69b6d {
        margin-top: 0;
        border: 0;
    }

    // Spine
    .spine__5b40b,
    .spineBorder__5b40b {
        top: 0;
        height: $spine-size;
        width: $spine-size;
        color: $red;
    }

    .spine__5b40b + .spine__5b40b {
        transform: rotateX(180deg) translateY(4px - $spine-size) !important;
    }
}

// Channel info
.channelInfo_c69b6d {
    --text-muted: #{$cream};
    --text-brand: #{$cream};
}
// Mention badge
.numberBadge__40d6f {
    background: $red !important;
    color: $black;
    padding-left: 2px;
    padding-bottom: 5px;
}

// Events tab
.content__65844 {
    align-items: center;

    .numberBadge__2ea32 {
        background: $red;
        color: $black;
        padding-left: 2px;
        padding-bottom: 5px;
    }
}
