@use "../../../top/vars" as *;
@use "../../../top/card";

.descriptionWrapper__43963 {
    color: $cream;
}

#{$root} .defaultIndicator__43963 {
    border-radius: $size-max;
    background: $cream;
    color: $black;
}

#billing-tab {
    // Editing card info
    .card_f0c2ea {
        background: unset;
        border-color: $cream;

        .subText_f0c2ea,
        .sectionHeader_f0c2ea {
            color: $cream;
        }
    }
}

// Transaction history
.paymentPane__01014 {
    #{$root} & {
        @include card.large;
        color: $cream;
    }

    // Header
    .bottomDivider__01014 {
        border-bottom: 0;
    }
    .paymentRowHeader__01014 {
        div {
            color: $cream;
            font-size: 16px;
        }
    }

    // Content
    .paginator__01014 {
        background: unset;
    }

    // Payment row
    .payment_e9cb00 {
        background: unset;

        &:hover {
            background: unset;
        }

        // Summary
        .summaryInfo_e9cb00 {
            color: $cream;

            .statusTagRed_e9cb00 {
                background: $red;
                color: $cream;
                border-radius: $size-max;
            }
        }

        // Details
        .expandedInfo_e9cb00 {
            @include card.large;

            .paymentHeader_e9cb00,
            .paymentText_e9cb00 {
                color: $cream;
            }
        }
    }

    // Nav buttons
    .pageActions__2d021 {
        justify-content: space-between;
        padding: $size-m;

        :is(.pageButtonNext__2d021, .pageButtonPrev__2d021, .pageIndicator__2d021) {
            color: $cream;
            border: 0;

            &.disabled__2d021 {
                color: $cream;
                opacity: 0.7;
            }
        }
    }
}
