@use "../../../top/vars" as *;
@use "../../../top/card";

.connectContainer_c7f964,
.connection_c7f964 {
    @include card.large;
}

// Add accounts to your profile
.connectContainer_c7f964 {
    // Text
    .connectHeader_c7f964,
    .text-xs-normal_ccc5fb {
        color: $cream !important;
    }

    // Platform
    .inner__02fc8,
    .accountAddInner_c7f964 {
        border-radius: $size-m;
        background-color: $red;
        color: $cream;
    }
}

// List of existing connections
.connectionList_c7f964 {
    grid-gap: 8px;

    // Header
    .connectionHeader_c7f964 {
        background: $red;

        .connectionAccountValue_c7f964,
        .connectionAccountLabel_c7f964 {
            color: $black !important;
        }

        .connectionDelete_c7f964 {
            color: $cream;
        }
    }

    // Further info
    .container__0d793 {
        @include card.large;
    }

    // Metadata
    .metadataContainer_c7f964 {
        @include card.large;

        // Text
        div {
            color: $cream !important;
        }

        .connectedAccountVanityMetadataTag_fffe42 {
            color: $black !important;
            background: $cream;
        }
    }
}
