@use "../../../top/vars" as *;
@use "../../../top/card";

.sessions__803f2 {
    // Groups
    .children__7bffb {
        @include card.large;
        margin-top: 16px;
    }

    // Session
    .session__803f2 {
        padding: 16px;
        border-bottom: 0;
    }

    .sessionIcon__803f2 {
        background: $cream;
        color: $black;
    }

    .sessionMoreButton__803f2 {
        color: $red;
    }
}
