@use "../../../top/vars" as *;
@use "../../../top/card";

// Overlay notifications
.wrapper_e03935 {
    border: $size-s solid $cream;
    border-radius: $size-l;

    &.disabledSelected_e03935 {
        border: $size-s solid $red;
    }

    .option_e03935 {
        background: unset;
        border: $size-xs solid $cream;
        border-radius: $size-m;

        &.selected_e03935 {
            background: $cream;
        }
    }

    .disabled_e03935 {
        color: $cream;

        &.selected_e03935 {
            color: $red;
        }
    }
}
