@use "../../../top/vars" as *;
@use "../../../top/filter";

.emptyStateImage_d4883c {
    @include filter.sepia;
}
@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.membershipDialog__2d899 {
    background: unset;
    border: $size-s solid;
    border-radius: $size-l;

    &.membershipDialogHouse1__2d899 {
        border-color: var(--hypesquad-house-1);
    }

    &.membershipDialogHouse2__2d899 {
        border-color: var(--hypesquad-house-2);
    }

    &.membershipDialogHouse3__2d899 {
        border-color: var(--hypesquad-house-3);
    }

    .membershipDialogSwitchHousesAction__2d899:hover {
        color: $cream;
    }
}

.features_b8f10d {
    .perkIcon_b8f10d {
        @include filter.sepia;
    }

    .title__4626b,
    .description__4626b {
        color: $cream;
    }
}

.featureBorder_fbfab6fbfab6_4626b,
.leaveActionWrapper__964b4 {
    border-top: 0;
}

.videoWrapper__56ac8 {
    background: unset;
}

#{$root} {
    .emptyStateHeader_d4883c,
    .emptyStateSubtext_d4883c {
        color: $cream;
    }
}
