@use "../../../top/vars" as *;
@use "../../../top/card";

// Keybinds disabled warning
.warning__6436f {
    @include card.large;
    border-radius: $size-max;
    border-color: $red;

    .icon__6436f {
        color: $red;
    }

    div[style] {
        color: $red !important;
    }
}

// Custom keybind
#{$root} .row__740f2 {
    box-shadow: none;

    .keybindGroup__740f2 {
        margin-top: 0;
    }

    .switch__740f2 {
        padding-top: 36px;
    }
}
