@use "../../../top/vars" as *;

// My account
.accountProfileCard__1fed1 {
    border: $size-s solid $cream;
    border-radius: $size-xl;
    background: $black;

    .background__1fed1,
    .fieldList__1fed1 {
        background: $black;
    }

    .text-md-normal__6a4eb {
        color: $cream !important;
    }

    .profileCardUsernameRow__1fed1 {
        align-items: baseline;

        .overflowMenuIcon__1fed1 {
            color: $cream;
        }
    }

    // Badges
    @at-root .badgeList__1fed1 {
        background: none;
    }
}

// Password and authentication
.userSettingsSecurity__2666b .isEnabled__2666b {
    color: $cream;
    .lockIcon__2666b {
        display: none;
    }
}
