@use "../../../top/vars" as *;
@use "../../../top/card";

div[role="radiogroup"] {
    @include card.large;

    .item__001a7 {
        border-radius: 0;
        margin-bottom: 0;
        color: $cream;

        &:hover:not([aria-checked="true"]):not(.disabled__001a7) {
            color: $cream;
        }
    }

    .itemFilled__001a7 {
        background: unset;
    }

    .radioBar__001a7 {
        border-radius: 0;
        border-left-width: $size-m;

        .radioIconForeground__001a7 {
            color: var(--radio-bar-accent-color);
        }
    }
}

// Feedback survey box
.feedback_fa4f12 {
    background: unset;
    padding: 8px 0;
    color: $cream;
}
