@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.customizationSection_ace4f5 {
    border-bottom: 0;
    margin-bottom: 0;
}

// Profile theme
.colorSwatch__2d060 {
    .swatch__2d060 {
        border-radius: $size-m;
        border: $size-xs solid $cream !important;
    }

    .colorSwatchLabel__04485 {
        color: $cream !important;
    }

    .editPencilIcon__2d060 path {
        fill: $cream;
    }
}

// About me
.channelTextArea__74017 {
    .bioTextArea__6a919 {
        @include card.large;
        height: 250px;
    }

    .characterCount__795fb {
        color: $cream;
    }
}

// Preview
.fakeActivityIcon_dfbe6b {
    @include filter.sepia;
}

// Nitro upsell
.premiumFeatureBorder__65c15 {
    background:
        linear-gradient($black, $black) padding-box,
        var(--custom-premium-colors-premium-gradient-tier-2-diagonal) border-box;
    border-radius: $size-l;
}
