@use "../../../top/vars" as *;
@use "../../../top/card";

// Current game
#{$root} {
    .nowPlaying_cc46f0 {
        @include card.large;

        :is(.gameName_cc46f0, .lastPlayed_cc46f0, .overlayStatusText__668e1) {
            color: $cream;
        }

        .toggleIconOn_cc46f0 .fill_cc46f0 {
            fill: $cream;
        }

        .toggleIconOff_cc46f0 :is(.fill_cc46f0, rect) {
            fill: $red;
        }
    }

    .notDetected_cc46f0 {
        @include card.large;
        border-color: $red;

        :is(.gameName_cc46f0, .lastPlayed_cc46f0, .overlayStatusText__668e1) {
            color: $red;
        }
    }
}

// Not seeing your game
#{$root} .nowPlayingAdd_cc46f0 {
    color: $cream;
}

// Added games
#{$root} .game_cc46f0 {
    box-shadow: none;

    :is(.gameName_cc46f0, .lastPlayed_cc46f0, .overlayStatusText__668e1) {
        color: $cream;
    }

    .toggleIconOn_cc46f0 .fill_cc46f0 {
        fill: $cream;
    }

    .toggleIconOff_cc46f0 :is(.fill_cc46f0, rect) {
        fill: $red;
    }
}
