@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

.gradient__8e08c,
.wrapper__4d7bb {
    background: $red;
    border-radius: $size-l;
}

.wave__8e08c {
    fill: $black;
}

// Images
.backgroundImages__4d7bb,
.iconImage__4d7bb,
.guildBoostGem__8e08c,
.boostIcon__8dbf5 {
    @include filter.sepia;
}

// Top gem
.guildBoostGemWrapper__8e08c {
    background: $cream;

    .guildBoostGem__8e08c {
        mix-blend-mode: multiply;
    }
}

// Server
.guildContainer__5dba5 {
    background: $red;
    padding: $size-l;

    .guildBoostStatsContainer__5dba5 {
        gap: $size-m;
    }

    .guildInfoContainer__5dba5 {
        div {
            color: $black !important;
        }

        .guildBoostBadge__5dba5 {
            color: $black;
            margin-right: 0;
        }
    }
}

// Active boost
.appliedBoostContainer_ceb06a {
    @include card.large;

    // Individual boost
    .boostContainer_ceb06a {
        background: unset;

        .boostSlotMenuIcon_ceb06a {
            color: $cream;
        }
    }
}

// Suggested boost
.recommendedServerCard__51537 {
    border-radius: $size-l;
    border: $size-xs solid $cream;

    &::before,
    &::after {
        display: none;
    }

    // Sparkles
    .sparkle__3c6bd {
        color: $cream;
    }
}

// Boost any server
.wrapper__37ae5 {
    @include card.large;

    .cta__37ae5 {
        color: $red !important;
    }
}

// Table
.tierComparisonTable__744ff,
.tierComparisonTable__6fd0e {
    .booleanValueIcon__686cf {
        color: $cream;
    }

    .columnHeading__686cf,
    .tableCell__686cf {
        border-bottom: 0;
    }
}

// Give you community a boost and be recognised
.wrapper__4d7bb {
    h2[style] {
        color: $cream !important;
    }

    .card__4d7bb {
        @include card.large;
        background: $black;

        .icon__4d7bb {
            color: $cream;
        }
    }
}

// FAQ
.faq__744ff {
    @include card.large;
}
.list__5b98e {
    border-top: 0;
    .listItem__5b98e {
        border-bottom: 0;

        .questionWrapper__5b98e,
        .questionWrapper__5b98e:active,
        .questionWrapper__5b98e:hover,
        .questionWrapperExpanded__5b98e {
            color: $cream;
        }

        .answer__5b98e {
            color: $cream !important;
        }
    }
}
