@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Mic test
.wrapper_e5cdf3 {
    .container_e5cdf3 {
        background: $cream !important;
        border-radius: $size-max;
        border: $size-xs solid $cream;
    }

    .progress_e5cdf3 {
        background: $red;
    }

    #pill-frame-pattern {
        display: none;
    }
}

// Soundboard
.soundButtonSettingContainer__84bad {
    @include card.round;

    .secondaryButton__6d4ed {
        color: $cream;

        path[fill="var(--red-400)"] {
            fill: $red;
        }
    }
}

// Video preview
.cameraWrapper_d41d5f {
    @include card.large;

    .previewImage_d41d5f {
        @include filter.sepia;
    }
}

// Video background
.backgroundOptions__53965 {
    margin-bottom: 16px;

    .backgroundOption__53965 {
        .backgroundOptionInner__53965 {
            border-radius: $size-m;
            background: unset;
        }

        // Info
        .backgroundOptionContent__53965 {
            color: $cream;
        }

        // Selected
        .backgroundOptionRing__53965 {
            border-radius: $size-l;
            border: $size-s solid $cream;
        }

        // Animation icon
        .playIcon__53965 {
            color: $cream;
        }
    }
}
