@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Headers
.titleContainer_e29cd7 {
    background: inherit;
}
.header_c6bf1b {
    background: $black;
}

// Integration role warning
.warning__6436f {
    align-items: center;
}

// Inner sidebar
.sidebar_e29cd7 {
    background: $red;
    border-right: $size-s solid $cream;

    .list_e29cd7 {
        padding: 0 16px 96px 24px;
    }

    .addRole_e29cd7,
    .title_e29cd7,
    .title_e29cd7:hover {
        color: $black;
    }

    :is(.item_b3f026, .themed_b3f026.item_b3f026:hover:not(.disabled_b3f026)) {
        @include card.round;

        &.selected_b3f026 {
            background: $cream;
            border-color: $black;

            div[style] {
                color: $black !important;
            }
        }
    }
}

// More options button
.menu__81b3e {
    color: $cream;
}
