@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// Link integration warning
.warningContainer_d80a13 {
    @include card.round;
    border-color: $red;
    color: $red;

    .warningIcon_d80a13 {
        color: $red;
    }

    div[style] {
        color: $red !important;
    }
}

// Requirements
.configurationsContainer_d80a13 {
    // Account
    .container_c02108 {
        padding: 0;
        background: unset;
        margin-bottom: $size-m;

        .closeIcon_c02108 {
            color: $cream;
        }

        .ruleContainer_c02108 {
            border-top: 0;
            padding: 0 32px 16px 16px;
        }

        .ruleItemHeader_c02108 {
            margin-bottom: 8px;
        }
    }
}

// Add requirement
.addVerificationButtonAppend_d80a13 {
    @include card.round;
}
