@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// Setup onboarding

// Step description overlay
.educationUpsellRoot__4a4f2 {
    .educationUpsell__4a4f2 {
        @include card.outer;
    }

    .wumpus__4a4f2 {
        @include filter.sepia;
    }
}

// Steps bar
.progressBar__008b2 {
    &,
    .clickableProgressBar__008b2:hover & {
        background: $red;
    }

    &.progressBarCurrent__008b2,
    .clickableProgressBar__008b2:hover &.progressBarCurrent__008b2 {
        background: $cream;
    }
}

// Back / next bar
.container__4a4f2 {
    background: unset !important;
}

// Links
.anchor_edefb8 div {
    color: $red !important;
}

// Drag bars
.dragContainer_b96967,
.dragContainer_d2b0e4 {
    color: $cream;
    left: $size-m;
    display: flex;
}

.dragIcon_d2b0e4 {
    display: block;
}
