@use "../../../../../top/vars" as *;
@use "../../../../../top/card";

// 3. Customisation questions

.dot_e34850 {
    display: none;
}

// Channels missing dropdown
.channelCoverage_e34850 {
    @include card.large;

    .warning_e34850 {
        color: $red;
    }

    .progressBar__89dcd {
        background: $cream !important;

        &[style$="background-color: var(--status-warning);"] {
            background: $red !important;
        }
    }

    .caret_e34850 {
        color: $cream;
    }

    .channelCoverageDetails_e34850 {
        background: unset;

        svg {
            display: none;
        }
    }

    .channelPill_e34850 {
        @include card.round;
    }
}

// Question
.container__5d756 {
    @include card.large;

    .dragContainer__5d756 {
        color: $cream;
        display: flex;
    }

    .collapseButton__5d756 {
        color: $cream;
    }

    .removeButton__5d756 {
        color: $red;
    }

    // Examples
    .example__5d756 {
        @include card.round;
    }
}

// Answer
.optionCard_b96967 {
    @include card.round;
    padding-left: 32px;

    &:hover {
        border-color: $cream;
    }

    .plusIcon_b96967 {
        color: $cream;
    }
}

// Add question
.addPrompt_e34850 {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    .plusIcon_e34850 {
        color: $cream;
    }
}

.separatorSection_e34850 {
    display: flex;
    flex-direction: column;
}

.divider_e34850 {
    height: 0;
}

// Server guide banner gem
.icon__40463 {
    color: $cream;
}
