@use "../../../../../top/vars" as *;
@use "../../../../../top/filter";
@use "../../../../../top/card";

// 4. Server guide

// Example
.previewImage_d2b0e4 {
    @include filter.sepia;
}

// Sliding toggle
.pillContainer__9e06a {
    @include card.round;

    .pillItem__9e06a {
        color: $cream;

        &.pillItemSelected__9e06a {
            background: $cream;
            color: $black;
            border-radius: $size-max;
        }
    }
}

// Add item centerer
.section_d2b0e4,
.editResources_d2b0e4 {
    display: flex;
    flex-direction: column;
}

// Welcome sign preview
.editWelcomeSection_d2b0e4 {
    margin-top: 12px;

    @at-root .welcomeMessageContent__6f212 {
        @include card.large;
        padding-top: 16px;
    }

    @at-root .editWelcomeButton_d2b0e4 {
        @include card.round;
        padding: 2px 4px;

        &:hover {
            background: unset;
        }
    }
}

// Bad example
.example_d2b0e4 {
    @include card.large;
    border-color: $red;
    color: $red;
}

// Todo
.actionItem_d2b0e4 {
    @include card.large;
    padding-left: 32px;
}

.actionItemEmojiWrapper_d2b0e4,
.badExampleIcon_d2b0e4 {
    color: inherit;
    background: unset;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        zoom: 2;
    }

    img {
        zoom: 1.5;
    }
}

// Add todo
.addActionItem_d2b0e4 {
    @include card.round;
    padding: $size-m $size-xl;
    width: fit-content;
    align-self: center;

    &:hover {
        background: unset;
    }
}

// Resource benefits
.bulletList_d2b0e4 {
    color: $cream;
}

// Suggested channels
.suggestedChannelsSection_d2b0e4 {
    @at-root .suggestedChannelsDismissCheck_d2b0e4 {
        color: $cream;
    }
    @at-root .suggestedChannels_d2b0e4 {
        @include card.large;

        .suggestedChannelIcon_d2b0e4 {
            color: $cream;
            zoom: 1.5;
            margin-right: 0;
        }
    }
}

// Resource channel
.resourceChannel_d2b0e4 {
    @include card.large;
    padding-left: 32px;
}

.sectionSeparator_d2b0e4 {
    display: none;
}
