@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Onboarding introduction

// Art
.islands_d9161f {
    @include filter.sepia;
}

// Outer boxes
.testimonialHeroContainer__3e7e2,
.upsellPreview_d9161f {
    @include card.large;
    overflow: visible;
}

// Channels and roles demo
.previewListItem_d9161f {
    @include card.round;
    overflow: visible;

    &.selected_d9161f {
        background: unset;
    }

    // Real channel icon
    .channelIcon_d9161f {
        color: $cream;
    }

    // Emoji icon
    span {
        @include filter.sepia;
    }

    // Checkmark
    .checkboxCircle_d9161f {
        background: $cream;

        .checkmark_d9161f {
            color: $black;
        }
    }
}

// Suggested actions demo
.action_c66e86 {
    @include card.round;

    .checkCircleCompleted_c66e86 {
        color: $cream;

        circle {
            fill: $black;
        }
    }

    .channelIconContainer_c66e86,
    .rulesIconContainer_c66e86 {
        background: unset;
        .channelIcon_c66e86 {
            zoom: 2;
            color: $cream;
        }
    }
}
