@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";

// Boost server
.scroller__6fd0e {
    background: $black;
}

.header__6fd0e {
    background: $red;
}

.headerWave__1dfae {
    color: unset;
}

.bodyWave__1dfae path {
    fill: $red !important;
    opacity: 0.3;
}

// Boost progress
.progressBar_b28bb7 {
    // Bar
    .progressBarScrubber_b28bb7 {
        @include card.round;
        border-width: $size-s;

        .progressBarTrack_b28bb7 {
            background: unset;
        }
        .progressBarFill_b28bb7 {
            background: linear-gradient(to right, $red, $cream);
        }
    }

    // Circle
    .progressBarMarker__1f1cb,
    .progressBarMarkerUnlocked__1f1cb .progressBarMarkerIndicator__1f1cb {
        background: $cream;
    }

    .progressBarMarkerCurrent__1f1cb .progressBarMarkerIndicator__1f1cb {
        box-shadow: none;
    }

    .boostedTierIcon__1f1cb {
        color: $red;
    }
}

.full-motion {
    .guildBoostCtaBoostWrapper_f9f04c:focus-within,
    .guildBoostCtaBoostWrapper_f9f04c:hover,
    .guildBoostCtaSecondary_f9f04c:focus,
    .guildBoostCtaSecondary_f9f04c:hover {
        transform: none;
    }
}

// Sparkles
.tierCardSparkleHighlight_be48d0,
.containerColored_bb1234 .sparkle_bb1234.sparkleStarTopRight_bb1234,
.theme-light .sparkle_bb1234.sparkleStarTopRight_bb1234,
.containerColored_bb1234 .sparkle_bb1234.sparkleStarRight_bb1234,
.theme-light .sparkle_bb1234.sparkleStarRight_bb1234,
.containerColored_bb1234 .sparkle_bb1234.sparkleStarBottomLeft_bb1234,
.theme-light .sparkle_bb1234.sparkleStarBottomLeft_bb1234 {
    color: $cream;
}

.guildBoostCtaBoostWrapper_f9f04c:focus-within .guildBoostCtaBoost_f9f04c,
.guildBoostCtaBoostWrapper_f9f04c:hover .guildBoostCtaBoost_f9f04c,
.guildBoostCtaSecondary_f9f04c:focus,
.guildBoostCtaSecondary_f9f04c:hover {
    box-shadow: none;
}

.tierCard_be48d0,
.tierCardCurrentTier_be48d0,
.topPerksCard__3add8,
.wrapper__5b98e,
.wrapper__4d7bb {
    @include card.large;
    background: $black;
    overflow: visible;
}

.topPerksCardImage__3add8,
.lowerBodyBackgroundImage__6fd0e {
    @include filter.sepia;
}

.recommendedTierHighlight__686cf:after,
.recommendedTierHighlight__686cf:before {
    border-color: $red;
}
.recommendedTierHighlightTag__686cf {
    background: $red;
    border-radius: $size-max;
}

// Hovering footer
.innerWrapper_b4589b {
    background: $black;

    &::before,
    &::after {
        border-color: $cream;
    }
}
