@use "../top/vars" as *;
@use "../top/card";

// Picture in picture

.pictureInPictureWindow__6341f {
    @include card.outer;

    .headerTitle_e4cb9a:hover {
        border-bottom-color: $cream;

        .backButton_e4cb9a {
            color: $cream;
        }
    }

    .backButton_e4cb9a,
    .viewersIcon_d6b206,
    .bottomControls_e4cb9a {
        color: $cream;
    }
}
