@use "../top/vars" as *;

// Tooltips

#{$root} {
    .tooltip__382e7 {
        background: $cream;
        color: $black;
        border: $size-xs solid $black;
        border-radius: $size-xl;

        // Pointer
        .tooltipPointer__382e7 {
            border-top-color: $black;
        }

        // Server type
        .flowerStar__3e3b0 {
            path {
                fill: $black;
            }
        }
        .childContainer__3e3b0 path {
            fill: $cream;
        }

        // Text and most contents
        div:where([style^="color"]) {
            color: $black !important;
        }
        .guildNameText_b1f768,
        .defaultColor__77578,
        .activityIcon_b1f768 {
            color: $black;
        }

        // Server muted
        .muteText_b1f768 {
            color: $red !important;
        }

        // Listeners
        .stageListenerPill_b1f768 {
            background: $black;
            color: $cream;
            div {
                color: $cream !important;
            }
        }
    }
}

// More users
.moreUsers__183c2 {
    background: $black;
    color: $cream;
}

.tooltipOverrideColor__2637a {
    background: $cream;
    color: $black;
    border: $size-s solid $black;
    border-radius: $size-xl;

    &.caretTopCenter__675aa:after {
        border-bottom-color: $black;
    }

    .defaultColor__77578 {
        color: $black;
    }

    .content__675aa {
        color: $red !important;
    }
}
