@use "../../../../top/vars" as *;
@use "../../../../top/filter";
@use "../../../../top/card";

// Automod rule icon
.ruleIconContainer_c5e6a1 {
    background: $cream;

    .ruleIcon_c5e6a1 {
        color: $black;
    }
}

// Automod actions
.actionContainer_bc4513 {
    background: $cream;

    .actionIcon_bc4513 {
        color: $black;
    }

    div,
    span {
        color: $black !important;
    }
}

// Rules
// Step
.stepCountIcon_b6c6eb {
    background: $cream;

    div {
        color: $black;
    }
}

// Arrow between steps
.dividierIcon__1abf5 {
    color: $cream;
}

// Step instructions
.triggerMainContainer_b6c6eb {
    border: 0;

    // Field
    .keywordsTextArea__6a631,
    .collapseable__217b7 {
        @include card.large;
    }

    .arrow_fc46b1,
    .arrow__4546e {
        color: $cream;
    }

    // Field in dropdown
    .textArea_c615b7 {
        @include card.med;
    }

    // Icon
    .actionIcon__6446f,
    .mentionLimitIcon_ed9c90 {
        color: $cream;
    }

    .mentionLimitIcon_ed9c90 path {
        fill: $cream;
    }

    // Link
    .editChannel__6446f {
        color: $red;
    }

    // Number adjust buttons
    .stepperContainer_ed9c90 {
        background: unset;
        border: 0;

        .iconWrapper__0d13e {
            background: unset;
        }

        .icon_bb7288 {
            color: $cream;
        }
    }

    .collapseable__4546e {
        margin: 8px;
    }

    // Response
    .triggerSettingsContainer_b6c6eb {
        &:has(.actionContainer__6446f, .mentionLimitContainer_ed9c90, .keywordListContainer__09e76) {
            @include card.large;
            margin-top: 8px;
            padding-top: 0;
        }

        // Row
        .actionContainer__6446f,
        .mentionLimitContainer_ed9c90,
        .keywordListContainer__09e76 {
            background: unset;
            margin-bottom: 0;
        }
    }

    // Search
    .container_fea832 {
        @include card.round;

        // Term
        .richTag_fea832 {
            border-radius: $size-max;
            background: $cream;
            color: $black;

            * {
                color: $black;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    // Search results
    .resultsList__6ae25 {
        @include card.xlarge;
        background: $black;
    }
}

// Explicit image filter
.container_e5c5d5,
.groupCollapsedContainer_b6a9f9,
.collapseable__217b7.toggled__217b7:active,
.collapseable__217b7:active,
.clickableContainer_e5c5d5 {
    background: unset;
}

.groupContainer_b6a9f9 {
    @include card.large;

    &.toggled__217b7 {
        padding-bottom: 24px;
    }

    // Currently selected option
    .groupHeaderRow_b6a9f9 .backgroundModifierContainer_e5c5d5 {
        border-left: 0;
    }

    // All options
    .groupCollapsedContainer_b6a9f9 {
        @include card.large;
        margin: 12px;
        padding: 0;
        width: auto;

        .pointer_b6a9f9 {
            display: none;
        }

        .statusRed_e5c5d5,
        .statusYellow_e5c5d5 {
            border-left: 0;
        }

        // Radio icon
        .groupCollapsedRow_ba5386 {
            color: $cream;
        }
    }
}
