@use "../../../../top/vars" as *;
@use "../../../../top/card";

.caret__5dac8,
.previewIcon_abee5f,
.previewIcon_abee5f:hover {
    color: $cream;
}

.rulesScreeningItems_c21410 > div {
    border: 0;
}

// Description
.backgroundContainer_eaaeee {
    background: unset;
    padding: 0;
}

// Server rule
.fieldBackground_eaaeee {
    background: unset;
}

// Server rules
.containerPadding_eaaeee {
    padding: 0;

    .termsFieldBody_d48a51 {
        border: 0;
        padding: 0;
        margin-bottom: 16px;
    }

    .fieldFooterContainer_eaaeee {
        @include card.round;
        width: fit-content;
        padding: $size-s $size-m;

        path {
            stroke: $cream;
        }
    }
}

.containerFooter_eaaeee {
    background: unset;
    padding: 0;

    // Remove rules
    .removeButton_eaaeee {
        color: $red;
    }
}
