@use "../top/vars" as *;

.content_c48ade {
    border: solid $cream;
    border-width: $size-s $size-m $size-s 0;
}

.chat_f75fb0 {
    overflow: hidden;
    background: $black;
}

// Channel group and member group title
.container_cc72c1 {
    font-style: oblique;
    text-align: center;
    font-size: 20px;
    line-height: 28px;

    &,
    .overflow__82b15 {
        color: $black;
    }
}

// Rounding based on notice banner presence

// Without banner
.base_c48ade {
    // Sidebar
    .sidebar_c48ade,
    .sidebar_c48ade.hasNotice_c48ade {
        border-radius: $size-l 0 0 $size-l;
    }

    // Main chat
    .chat_f75fb0,
    .pageWrapper_a3a4ce,
    .sidebar_c48ade + .scroller_a39aa3 {
        border-radius: 0 $size-l $size-l 0;
    }

    // Split chat
    .container__01ae2:not(.floating__01ae2),
    .sidebarContainer__656be .profileThemedContainer__656be {
        border-radius: $size-l;
    }
}

// With banner
.base_c48ade:has(.bd-notice, .notice__5fd4c) {
    .sidebar_c48ade,
    .sidebar_c48ade.hasNotice_c48ade {
        border-top-left-radius: 0;
    }

    .chat_f75fb0,
    .pageWrapper_a3a4ce,
    .sidebar_c48ade + .scroller_a39aa3 {
        border-top-right-radius: 0;
    }

    .container__01ae2:not(.floating__01ae2),
    .sidebarContainer__656be .profileThemedContainer__656be {
        border-radius: 0 0 $size-l $size-l;
    }
}
