@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

// Channels & Roles
#{$root} .emptyPage__5d7c9,
#{$root} .scrollerContainer_c6b11b,
#{$root} .container_c2efea,
.scroller__5d7c9 {
    background: unset;
}

// Customisation question
.prompt__5d7c9 {
    @include card.large;
    overflow: unset;
    border-color: $cream !important;

    // Required answer
    .required__5d7c9 {
        color: $red;
        &.error__5d7c9 {
            text-decoration-color: $red;
        }
    }

    // Role
    .helpText__5d7c9 {
        align-items: baseline;
        div {
            border-radius: $size-max;
            border: $size-xxs solid $cream;
            padding: $size-s;
        }
    }

    // Dropdown
    .select_d48ec6 {
        // Top
        .css-llyypf,
        .css-mb2az-placeholder,
        .css-1c3ogn8-indicatorContainer {
            color: $cream;
        }
        .css-fcsbhh-control {
            @include card.round;
        }
        .css-1t5q03r-control {
            &,
            &:hover {
                @include card.round;
            }
        }

        // Dropdown
        .css-6sv4e8-menu {
            @include card.xlarge;
            background: $black;

            .css-1gl4k7y {
                color: $cream;
            }
        }
    }
}

// Profile preview
.profileCard__5d7c9 {
    @include card.xlarge;

    .separator__5d7c9 {
        display: none;
    }

    .title__5d7c9 {
        margin-top: $size-m;
    }

    .role__5d7c9 {
        background: $cream;
        color: $black;

        div {
            color: $black !important;
        }
    }
}

// Browse channels
.search__41ed7 {
    @include card.round;
}

// Tip banner
.container_bc0d35 {
    @include card.large;

    .image_bc0d35 {
        @include filter.sepia;
    }

    .closeButton_bc0d35 {
        color: $cream;
    }
}

// Channel
.channelRow_e4503a {
    @include card.large;

    &:hover:not(.disabled_e4503a) {
        background: unset;
    }

    &:not(.firstChannel_e4503a) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
    }

    &:not(.lastChannel_e4503a) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
}

.separator_e4503a {
    display: none;
}
