@use "../top/vars" as *;
@use "../top/card";

// Very outer
.container_f369db {
    background: unset;
}

// Header
.mainCard_f369db {
    @include card.xlarge;

    .titleContainer_d9be46 {
        align-items: center;
    }

    .forumPostFormButton_d9be46,
    .searchIcon_d9be46,
    .closeIcon_d9be46,
    .mediaIcon__5d208,
    .slowModeIcon__7391f,
    .uploadIcon__94439,
    .uploadInput__94439:hover .uploadIcon__94439 {
        color: $cream;
    }

    // Post title / search
    .title_d9be46 {
        border: 0;
        border-radius: 0;
        margin: 0;
        font-size: 32px;
        line-height: 36px;
        min-height: 36px;
    }

    // Add attachment
    .uploadInput__94439 {
        @include card.large;
    }

    // Post content
    .scrollableContainer__74017 {
        border-radius: 0;
        border: 0;
        cursor: text;
    }
    .placeholder__1b31f {
        color: $cream;
    }

    // Preview
    @at-root .previewForm_d9be46 {
        border: $size-xs dashed $cream;
        border-radius: $size-m;
        background: unset;
    }

    // Tags
    .tagsContainer_d9be46 .tagsIcon_d9be46,
    .tagsDivider_d9be46 {
        display: none;
    }

    .tagsButton_d9be46 {
        color: $red;
        .tagsButtonInner_d9be46 {
            color: $red;
        }
    }
}

// Shift enter
.matchingPostsRow_f369db {
    background: unset;
}

// Post guidelines
.container_ca49a1 {
    @include card.large;

    // Header
    @at-root .headerContainer_ca49a1 {
        // Book icon
        @at-root .guidelinesHeader_ca49a1 svg {
            zoom: 1.6;
        }

        // Close icon
        .clickable_ca49a1 {
            color: $cream;
        }
    }

    // Guidelines container
    .descriptionContainer_ca49a1 {
        background: unset;
    }

    // Links in guidelines
    .guidelines_ca49a1 a {
        color: $red;
    }

    // Show more
    @at-root .showMore_ca49a1 {
        @at-root .gradient_ca49a1 {
            background: linear-gradient(to top, $black, transparent);
        }
        @at-root .linkContainer_ca49a1 {
            background: $black;
        }
    }
}

// Sort and view
.sortDropdown_f369db {
    @include card.round;
    overflow: visible;

    .sortDropdownInner_f369db {
        color: $cream;
    }
}

.divider_f369db {
    width: 0;
    margin-left: 0;
}

// Tags
.pill_a2c9e8 {
    @include card.round;

    &.clickable_a2c9e8:not(.disabled_a2c9e8):hover {
        background: $black;
    }

    #{$root} &.selected_a2c9e8 {
        border-color: $cream;

        &,
        &.clickable_a2c9e8:not(.disabled_a2c9e8):hover {
            background: $cream;
        }

        div {
            color: $black;
        }
    }
}

// All tags
.tagsButton_f369db {
    @include card.round;

    .tagsButtonInner_f369db {
        color: $cream;
    }
}

// Selected tags count
:is(.countContainer_f369db, .countContainer_f369db) {
    background: $cream;
    margin-left: 0;
    :is(.countText_f369db, .countText_f369db) {
        color: $black;
    }
}

// Post
.container_faa96b {
    &:hover {
        transform: none;
        background: unset;
    }

    // Post title
    .lineClamp2Plus_d4306b {
        -webkit-line-clamp: 1 !important;
    }

    // Post author
    .author_d3eee8 a,
    .author_d3eee8.hasUnreads_d3eee8 a {
        color: $cream;
    }

    // Post info
    .messageCountIcon_faa96b,
    .messageCountText_faa96b {
        color: $cream;
    }

    .bullet_faa96b {
        display: none;
    }
}

// Loading post
.loadingCard_f369db {
    @include card.xlarge;
    opacity: 0.3;
}

// No posts with tag
.container__93db4 {
    background: unset;

    .stars__93db4 path {
        fill: $cream;
    }

    .icon__93db4 {
        background: $cream;
        color: $black;
    }

    .cta__93db4 {
        &,
        &:hover {
            color: $red;
        }
    }
}

// Forum post controls
.container__34c2c {
    background: unset;
    border-top: 0;

    .addReactButton__34c2c {
        border: 0;
        background: unset;
        min-width: unset;
        font-size: 0;

        & .icon__23977,
        &:hover .icon__23977 {
            color: $cream;
        }
    }

    // Right side buttons
    .buttonInner__34c2c {
        @include card.round;

        &.active__34c2c {
            background: $cream;
            color: $black;
        }
    }
}

// Channel type
.iconWrapper__7e6bb {
    display: none;
}

// Forum start conversation reminder
.box_ee23ac {
    display: none;
}

// Forum OP / replies divider
.divider_ee23ac {
    display: none;
}
