@use "../top/vars" as *;
@use "../top/filter";

// Channel header
.container__9293f:is(.themed__9293f, .transparent__9293f) {
    background: $red;
    border-bottom: $size-s solid $cream;

    // Thread title wrapper
    .children__9293f {
        overflow: visible;
        align-items: flex-end;
    }

    // User icon
    .avatar__44b0c::before {
        background: $cream;
    }

    // Channel name
    .titleWrapper__9293f {
        @include filter.shadow;

        .title__9293f {
            position: relative;
            font-style: oblique;
            bottom: 2px;
            overflow: visible;
            color: $black;
            font-size: 22px;
        }
    }

    // Divider
    .divider__9293f {
        display: none;
    }

    // Streamer
    .container__49508 {
        align-items: flex-end;
        .playingText__49508 {
            color: $black;
        }
    }

    // Channel description
    .topic__6ec1a {
        color: $black;
        font-size: 16px;
    }

    .children__9293f::after {
        background: linear-gradient(90deg, transparent, $red);
    }

    // Icons
    .controlIcon_f1ceac,
    .icon__9293f {
        &,
        .selected__9293f &,
        .clickable__9293f &,
        .clickable__9293f:hover & {
            color: $cream;
        }

        // Strikethrough for muted channels
        .strikethrough__69a26 {
            color: $black;
        }
    }
    .iconBadge__9293f {
        background: $cream;
    }

    // Search bar
    .searchBar__97492 {
        color: $cream;
        border-radius: $size-max;
        background: $black;
        border: $size-xs solid $cream;
        height: 28px;

        // Shift typed text to left a little
        .DraftEditor-editorContainer:not(:has(.searchFilter_bd8186)) {
            padding-left: 3px;
        }

        .icon_fea832 {
            color: $cream;
        }
    }
}

// Icons
.controlIcon_f1ceac,
.controlIcon_f1ceac.active_f1ceac,
.controlIcon_f1ceac:hover {
    color: $cream;
}
