@use "../top/vars" as *;
@use "../top/card";

// Members tab
.page_c791b2 {
    background: $black !important; // Discord used !important
}

// Table of members
.mainTableContainer__09a38 {
    @include card.xlarge;

    // Header
    @at-root .searchHeaderContainer__98d1c {
        // Sort users
        @at-root .sortButton__98d1c path {
            fill: $cream;
        }
    }

    // Table
    @at-root .table_b4ec0b {
        border-top: 0;

        // Column filter icon
        @at-root .filterIcon__9dd6b {
            margin-bottom: -6px;
            path {
                fill: $cream;
            }
        }

        // Table row
        @at-root .memberRowContainer__71c22 {
            td::after {
                display: none;
            }

            // Invite tag
            @at-root .inviteContainer__23437 {
                @include card.round;
            }

            // Roles
            .otherRoles__71c22 {
                @include card.round;
                box-sizing: border-box;

                @at-root .addRoleIcon__71c22 {
                    color: $cream;
                }
            }

            // Action buttons
            .button__71c22 {
                @include card.round;
            }
        }
    }

    // Nav footer
    @at-root .paginationContainer_e8f197 {
        border-top: none;

        // Showing x members of y
        @at-root .pageLabel_e8f197 strong {
            color: $cream;
        }

        // Navigation
        .pageControlContainer_c15210 {
            border: none;
        }
    }
}

// Member details
.sidebarContainer__656be {
    @at-root .userProfileInner_c69a7b {
        border-radius: 0;

        @at-root .innerContainer__656be {
            padding: 0;
            color: $cream;

            // Header container
            @at-root .container__34940 {
                background: unset !important;

                // Make username section a proper header
                @at-root .topRow__34940 {
                    border-radius: 0;
                    background: $red !important;
                    border-bottom: $size-s solid $cream;
                    padding: 5px 8px 2px;

                    // Shrink contents
                    @at-root .memberNameContainer__34940 {
                        display: flex;
                        align-items: baseline;

                        // User avatar
                        .wrapper__44b0c {
                            width: 24px !important;
                            height: 24px !important;

                            .svg__44b0c {
                                height: calc(24 / 48 * 57px);
                            }
                        }

                        // User name and discrim
                        @at-root .memberName_d936aa .text-lg-medium__72c29,
                            .memberName_d936aa + div,
                            .memberName_d936aa + div .text-md-medium_a84e09 {
                            font-size: 16px;
                            line-height: 2;
                        }
                    }
                }

                @at-root .bottomRowAction__34940 {
                    background-color: unset !important;
                    color: $cream;

                    path {
                        fill: $cream;
                    }

                    .innerBottomRowAction__34940:hover {
                        background-color: unset;
                        color: $cream;
                    }
                }
            }

            // Mod permissions container
            @at-root .container__3a5a1 {
                background: unset !important;

                // Mod View
                @at-root .header__3a5a1 {
                    background: unset !important;

                    // Icon
                    @at-root .headerTitle__3a5a1 svg {
                        zoom: 1.4;
                        margin-bottom: -4px;
                    }
                }

                // Section header
                @at-root .headerContainer__1ef77 {
                    @at-root .viewAllPermissions__1ef77 path {
                        fill: $cream;
                    }
                }

                // Section content
                @at-root .modInfoItemContainer__96c0b {
                    @include card.med;

                    // Section item
                    @at-root .modInfoItem__96c0b {
                        background: unset;

                        &:hover {
                            background: unset;
                            color: $cream;
                        }

                        path {
                            fill: $cream;
                        }

                        // Permission item
                        .permissionChiplet__1ef77 {
                            @include card.round;
                        }
                    }
                }
            }
        }
    }
}
