@use "../top/vars" as *;
@use "../top/card";

// Onboarding

.main_c08b38 {
    // Background
    .gradient_c08b38 {
        background: unset !important;
    }

    // Question window
    .prompt_fe70ca {
        @include card.outer;

        // Shader
        .overlay_fe70ca {
            display: none;
        }

        // Footer
        .navButtons_fe70ca {
            background: $red;

            .helpTextItem_fe70ca {
                color: $cream;
            }
        }
    }
}

// Answer
.optionButtonWrapper__270d7 {
    @include card.round;

    &:hover,
    &.selected__270d7 {
        border-color: $cream;
        background: $black;
    }

    &.pressed__270d7 {
        transform: none;
    }

    // Selected answer
    .checkIcon__270d7 {
        position: relative;
        top: 0;
        right: 0;
        margin-left: auto;
        min-width: 20px;
        zoom: 1.5;
        background: $cream;

        path {
            fill: $black;
        }
    }

    // Other members in group
    .memberCount__270d7 {
        top: $size-m;
        right: 32px;
        background: $cream;

        div {
            color: $black !important;
        }
    }
}

// Rules
.termsFieldBody_fe70ca {
    @include card.large;

    .termsRow_fe70ca {
        border-bottom: 0;
    }
}
