@use "../top/vars" as *;
@use "../top/tabs";

.searchResultsWrap_a9e706 {
    border-left: $size-m solid $cream;
    background: $black;

    .scroller_a9e706 {
        overflow: hidden scroll !important;
    }
}

// Results header
.searchHeader_f3b986 {
    background: $red;
    padding: 0 $size-l;
    height: auto;

    .totalResults_f3b986 div {
        color: $black !important;
    }

    .searchHeaderTabList_f3b986 {
        padding-top: $size-m;
    }

    .item_b3f026.themed_b3f026 {
        &,
        &:hover:not(.disabled_b3f026) {
            @include tabs.tab($ISINVERT: true);
        }

        &.selected_b3f026 {
            &,
            &:hover:not(.disabled_b3f026) {
                @include tabs.tab;
            }
        }
    }
}

// Channel name
.channelNameContainer_c68065 {
    position: sticky;
    top: $size-xxs;

    .channelNameIcon_c68065,
    .channelNameText_c68065,
    .parentChannelNameIcon_c68065 {
        color: $cream;
    }

    svg {
        zoom: 1.5;
    }
}

// Message
.searchResult__02a39 {
    background: unset;
}

// Jump
.button__02a39 {
    display: none;
}
