@use "../top/vars" as *;
@use "../top/card";
@use "../top/filter";

.homeContainer__7449f {
    width: auto;
    padding-right: 16px;

    // Default banner
    .headerArtPlaceholder__553a5 {
        background: unset;
        @include filter.sepia;
    }

    // Server icon
    .headerIcon__553a5 {
        border-radius: $size-max;
        border-color: $black;
        background: $red;
    }

    // Server name
    .headerName__553a5 {
        align-items: baseline;

        .inviteButton__553a5 {
            align-self: center;
        }
    }

    // Resource
    .row_d13feb {
        @include card.large;
    }

    // Get started action
    .clickableAction_c66e86 {
        &:hover .action_c66e86 {
            background: $black;
        }

        .checkCircle_c66e86 {
            color: $cream;
        }
    }
    .action_c66e86 {
        .rulesIcon_c66e86 {
            color: $cream;
            zoom: 2;
        }
    }

    // Server description
    .sidebarCardWrapper__7449f {
        @include card.large;

        .dotOnline__7449f {
            background: $cream;
        }

        .resourceChannelsList__7449f {
            gap: $size-s;

            .resourceChannel__7449f {
                @include card.round;
            }

            .resourceImageBase__7449f {
                border-radius: $size-max;
            }

            .placeholderImage__7449f {
                background: $cream;
                color: $black;
            }
        }
    }
}
