@use "../top/vars" as *;
@use "../top/pip";

// Server sidebar
.guilds_c48ade {
    background: $cream;
    --status-danger: #{$cream};

    // Rounded icons and folders
    .wrapper_cc5dd2 foreignObject {
        mask: none;
    }

    .wrapper__6e9f8,
    .folder__48112,
    .circleIconButton__5bc7e,
    .icon__6e9f8 {
        border-radius: $size-max;
        overflow: hidden;
    }

    // Folders
    .folder__48112,
    .expandedFolderBackground__48112,
    .expandedFolderBackground__48112.collapsed__48112,
    .expandedFolderBackground__48112.collapsed__48112.hover__48112 {
        background: $red;
    }

    .expandedFolderIconWrapper__48112 path {
        stroke: $black;
        stroke-width: $size-xs;
    }

    .expandedFolderBackground__48112 {
        border-radius: $size-max;
        border: $size-s solid $black;
        left: 12px - $size-s;
        top: -$size-s;
        bottom: 8px - $size-s;
        min-height: 48px;
    }

    // Server not in folder
    .wrapper_cc5dd2:not(.wrapper__48112 .wrapper_cc5dd2) {
        &,
        .svg_cc5dd2 {
            width: 48px + 2 * $size-s;
            height: 48px + 2 * $size-s;
        }
    }

    .wrapper__6e9f8:not(.wrapper__48112 .wrapper__6e9f8) {
        border: $size-s solid $black;
        box-sizing: border-box;
    }

    // DM icon
    :is(.wrapper__6e9f8, .wrapper__6e9f8.selected_ae80f7, .wrapper__6e9f8:hover) {
        .childWrapper__6e9f8 {
            background: $red;
            color: $cream;
        }
    }

    // Add server and explore buttons
    .circleIconButton__5bc7e,
    .circleIconButton__5bc7e.selected__5bc7e {
        border: $size-s solid $black;
        background: $red;
        color: $cream;
    }

    // Unread pip
    .item__58105 {
        @include pip.pip($COLOR: $black);
        margin-left: 0;

        &[style*="20px"] {
            height: 20px !important;
        }

        &[style*="40px"] {
            height: 40px !important;
        }
    }

    // Reordering servers
    // Background behind dragged icon
    .placeholderMask__87847 {
        border-radius: $size-max;

        .dragInner__87847 {
            background: $red;
        }
    }

    // Dragged icon target
    .target_d144f8.dragOver_d144f8::before,
    .centerTarget_d144f8.dragOver_d144f8::before {
        background: $red;
        box-shadow: none;
    }

    // Badge
    .lowerBadge_cc5dd2,
    .upperBadge_cc5dd2 {
        & > div {
            border: $size-xs solid $black;
            height: 20px;
            min-width: 20px;
            border-radius: $size-max;
            box-sizing: border-box;
        }

        // Mention
        .base__5ed84 {
            background: $cream;
            color: $black;
            padding: 0 0 4px 2px;
            font-size: 16px;

            // Live/event indicator
            .icon__62c73 {
                padding: 3px 2px 0 0;
            }

            // Broadcasts
            &[style*="background-color: var(--background-accent);"] {
                background: $cream !important;
            }
        }

        // Paused invites
        .pauseBackground_d70e0d {
            border: $size-xs solid $black;
            background: $cream;

            .pause_d70e0d path {
                fill: $black;
            }
        }
    }

    // New unreads bubble
    :is(.unreadMentionsIndicatorBottom_ef3116, .unreadMentionsIndicatorTop_ef3116) {
        padding: 2px;

        .unreadMentionsBar_ef3116 {
            border: $size-s solid $black;
            box-sizing: border-box;

            .text__3b95d {
                color: $black;
                font-size: 16px;
                margin: 0 0 6px 2px;
            }
        }
    }
}
