@use "../top/vars" as *;

// Windows bar
.wordmarkWindows__421ed {
    color: $black;
}

.winButton__421ed {
    color: $cream;
    background: $black;
    border-left: $size-s solid $red;
}

.winButtonMinMax__421ed:hover,
.winButtonClose__421ed:hover {
    color: $black;
    background: $red;
}
