@use "../top/vars" as *;
@use "../top/card";
@use "../top/button";
@use "../top/grabber";

// Voice chat
.root_bfe55a {
    border-left: $size-m solid $cream;
    color: $cream;

    // Evenly spaced tiles
    .listItems_affa7e {
        left: 0 !important;

        .row_d6271c {
            gap: $size-s;
            margin-bottom: $size-s;
        }

        .tile_d6271c {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

// Overall container
.wrapper_cb9592.sidebarOpen_cb9592 .callContainer_cb9592 {
    border-radius: 0;
}

// Tile
.tile__90dc5 {
    @include card.large;

    // Large tile
    &.noBorder__90dc5 {
        border: 0;
    }

    // Disconnected
    .header_c6e099,
    .description_c6e099 {
        color: $cream;
    }

    // Username
    .overlayTitle__2f4f7,
    .status__2f4f7 {
        @include card.round;
        border: 0;
    }

    // Video icon
    .selectedIcon__2f4f7 {
        color: $cream;
    }

    // Stream, video
    .streamPreview__2f4f7,
    .videoWrapper__2f4f7,
    .emptyPreview__48b20 {
        background: unset;
    }
}

// Participant list toggle
.participantsButton__211d1 {
    @include card.round;

    &:hover {
        background: $black;
    }

    .iconContainer__211d1 > svg {
        color: $cream;
    }
}

// Voice chat controls
.bottomControls_bfe55a {
    // Centre buttons
    .colorable_f1ceac {
        &.primaryDark_f1ceac {
            @include button.control($black, $cream);
        }
        &.white_f1ceac {
            @include button.control($cream, $black);
        }
        &.red_f1ceac {
            @include button.control($black, $red);
        }
    }

    .leftDivider_d8c748 {
        display: none;
    }

    .slash_c0ba36 {
        color: $red;
    }
}
