@use "../../top/vars" as *;
@use "../../top/card";
@use "../../top/filter";
@use "../../top/status";

// Student hub for one institution
.pageContainer__09fde {
    background: $black;
}

.header_a7218d {
    @include card.xlarge;

    .headerImage_a7218d {
        @include filter.sepia;
    }

    .defaultColor__77578 {
        color: $black;
    }

    .searchBox_a7218d .searchBoxInput_a7218d {
        color: $cream;
    }
}

// Servers
.cardsContainer__09fde {
    padding: $size-m 0;
}

.icon_f34534 {
    border-radius: $size-max;
}

// Server
.card__0c0bf {
    @include card.large;

    .splash__0c0bf {
        background: $cream;
    }

    foreignObject {
        mask: 0;
    }

    .iconMask__0c0bf {
        background: $black;
        border-radius: $size-max;
    }

    .statusDot__0c0bf {
        background: $cream;

        &.dotOffline__0c0bf {
            &::before {
                @include status.dot;
                margin: 2px;
            }
        }
    }
}

// Add server
.addEntryCard_d9422a img {
    @include filter.sepia;
}

// Sidebar
.sidebar_c48ade {
    .container__91a9d {
        border: $size-xs solid $cream;
        border-radius: 0 $size-max $size-max 0;
        border-left: 0;
        margin-left: 0;
        margin-top: 4px;

        &,
        &:hover {
            background: $black;
            color: $cream;
        }

        &.selected__91a9d {
            background: $cream;
            border-color: $black;
            color: $black;
        }

        .icon_ec85ca {
            color: inherit;
        }
    }
}

// Search results
.headerTitleWrapper__83bd4 {
    align-items: baseline;

    .arrow__83bd4,
    .searchPageTitle__83bd4 strong {
        color: $cream;
    }
}
