@use "../top/vars" as *;
@use "../top/card";

.replugged-addon-card {
    @include card.large;
}

.replugged-addon-icon {
    &,
    &:hover {
        svg {
            color: $cream;
        }
    }
}

.replugged-updater-item {
    @include card.large;
}

.error__6436f {
    @include card.med;
    border-color: $red;

    .icon__6436f {
        color: $red;
    }

    .text__6436f {
        color: $red !important;
    }
}
