@use "../../../top/vars" as *;
@use "../../../top/card";

// Publish announcement reminder

.bumpBox_cacd02 {
    @include card.med;
    align-items: baseline;

    .icon_cacd02,
    .closeIcon_cacd02 {
        color: $cream;
        margin-bottom: -2px;
    }
}
