@use "../../../top/vars" as *;
@use "../../../top/card";

// Reacts
:is(.reaction_f8896c, .reaction__23977) {
    &,
    &:hover {
        @include card.round;

        :is(.reactionCount_f8896c, .reactionCount__23977) {
            color: inherit;
        }
    }

    // Selected react
    &:is(.reactionMe_f8896c, .reactionMe__23977) {
        border-color: $cream;
        background: $cream;

        :is(.reactionCount_f8896c, .reactionCount__23977) {
            color: $black;
        }
    }

    // Super react
    &[style*="background"] {
        border-color: $red !important;
        background: $black !important;

        :is(.reactionCount_f8896c, .reactionCount__23977) {
            color: $red !important;
        }

        // Selected super react
        &:is(.reactionMe_f8896c, .reactionMe__23977) {
            background: $red !important;

            :is(.reactionCount_f8896c, .reactionCount__23977) {
                color: $cream !important;
            }
        }
    }
}

// Add reacts button
.reactionBtn_f8896c {
    visibility: visible;

    &,
    &:hover .icon_f8896c {
        color: $cream;
    }
}
