@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";

// Thread preview
.container__9271d {
    @include card.large;
    background: $black;
    padding: 0;

    .topLine__9271d,
    .bottomLine__9271d {
        padding: $size-s $size-m;
    }

    .topLine__9271d {
        background: $red;
        align-items: baseline;

        .name__9271d,
        .cta__9271d {
            color: $black;
        }

        // Thread title
        .name__9271d {
            font-family: var(--font-display);
            font-style: oblique;
            font-size: 1rem;
            overflow: visible;
            @include filter.shadow($size-xxs);
        }

        // Message count
        .cta__9271d {
            font-size: 0.8rem;
        }
    }

    .bottomLine__9271d {
        color: $cream;
        align-items: baseline;

        .threadMessageAccessory_c19a55 {
            align-items: baseline;
        }

        .username_c19a55 {
            font-size: 0.875rem;
            margin-top: -4px;
        }

        .timestamp__9271d {
            color: $cream;
            opacity: 0.7;
        }
    }
}

// Thread line
.cozy_c19a55.hasThread_c19a55::after {
    border-color: $cream;
    bottom: 29px + ($size-s * 2);

    :is(.font-size-12, .font-size-14, .font-size-15, .font-size-16, .font-size-18, .font-size-20, .font-size-24) & {
        left: 35px + $size-s;
        width: 120px;
        z-index: -1;
    }
}
