@use "../../../top/vars" as *;
@use "../../../top/card";
@use "../../../top/filter";
@use "../../../top/svg";

.quickSelectLabel__79774,
.quickSelect__540d0 {
    color: $cream;
}

#{$root} .quickSelectArrow__5988b {
    background-image: svg.$audit-arrow;
}

.content__5906b {
    gap: $size-l;
}

// Log entries
#{$root} {
    .auditLog__43dab {
        @include card.large;
        margin-bottom: $size-l;

        // Open arrow
        &,
        &:hover {
            .expandForeground__43dab {
                stroke: $cream;
            }
        }

        // Text
        strong {
            color: $cream;
        }
    }

    // Inner
    .headerClickable__43dab,
    .headerDefault__43dab,
    .headerExpanded__43dab,
    .changeDetails__43dab {
        background: unset;
        color: $cream;
    }

    // Action type icon
    .icon__43dab {
        @include filter.sepia;
    }
}

.divider__43dab {
    display: none;
}
