@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";
@use "../../../top/status";

// Preview
.sparkles__5afba {
    @include filter.sepia;
}

// Preview card
.card__991c2 {
    @include card.large;

    .guildIcon__991c2 {
        foreignObject {
            mask: none;
        }

        .iconMask__991c2,
        .avatar__991c2 {
            border-radius: $size-max;
            background: $black;
        }
    }

    .dotOnline__991c2 {
        background: $cream;
    }

    .dotOffline__991c2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $cream;

        &::before {
            @include status.dot;
        }
    }
}

.checklist__5afba {
    @include card.large;

    .header__812a7 {
        background: unset;

        .headerIcon__812a7 {
            @include filter.sepia;
        }

        .doesNot__812a7 {
            color: $red;
        }
    }
}

.separator__812a7 {
    height: 0;
}
