@use "../../../top/vars" as *;

.uploader_e7d73e {
    box-shadow: none;
}

.emojiUploadUploadRequirementsList_e7d73e {
    color: $cream;
}

#{$root} {
    .emojiRow_e7d73e {
        box-shadow: none;
    }

    .emojiAliasPlaceholder_e7d73e {
        &::before,
        &::after {
            color: $cream;
            opacity: 0.6;
        }
    }

    .emojiAliasPlaceholderContent_e7d73e {
        color: $cream;
    }
}
