@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.caret_dc2e44,
.detailsIcon__4a3a5,
.featureIcon_dc2e44,
.expandIcon_ebafdd {
    color: $cream;
}

// Default icons
.iconWrapper__4a3a5 {
    background: $cream;

    .icon__4a3a5 {
        color: $black;
    }
}

// Channel dropdown
.wrapper__3f413 {
    .iconsContainer__3f413 {
        height: auto;
    }
}

// Bots and apps
// Group name
.name__3633a {
    align-items: flex-end;
}

// Group icon
.icon__3633a,
.icon_b28dff,
.channelIcon_a93d5d {
    color: $cream;
}

// Card
.cardHeader_b44011 {
    background: unset;
}

// Card content
.entryItem__3f339:last-child {
    margin-bottom: 16px;
}

// Approve/deny
.item_f5fff4 {
    background: $black;

    &.deny_f5fff4 {
        color: $red;
    }

    &.allow_f5fff4 {
        color: $cream;
    }

    &.selected_f5fff4 {
        color: $black;

        &.deny_f5fff4 {
            background: $red;
        }

        &.allow_f5fff4 {
            background: $cream;
        }
    }
}

// Granted and denied permissions
.check__83c7c {
    color: $cream;
}
.cross__83c7c {
    color: $red;
}
