@use "../../../top/vars" as *;
@use "../../../top/card";

.inviteDisabledContainer__1de14 {
    margin-bottom: $size-l;

    path {
        fill: $cream;
    }
}

.user_edb39d {
    color: $cream;
}

#{$root} .inviteSettingsInviteRow__1de14 {
    box-shadow: none;
}
