@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.descriptionBox__981f7 {
    background: unset;
}

.descriptionRow__981f7 {
    color: $cream;
}

.descriptionIcon__981f7 {
    circle {
        fill: $black;
    }

    path {
        fill: $cream;
        .descriptionSection__981f7:last-child & {
            fill: $red;
        }
    }
}
