@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

// Tier chain
#{$root} {
    .tierAccomplished__77998,
    .tierCurrent_fc87b4,
    .tierFirst__327f4 {
        background: $cream;
    }

    .currentTierIcon_c44edb {
        color: $black;
    }

    .background_c44edb {
        color: $red;
    }

    .tierInProgress_c44edb {
        background: $red;
    }
}

.foreground__44f58 {
    color: $cream;
}

// Tiers
.tier_f15dca {
    @include card.large;

    .tierHeader_f15dca,
    .tierBody_f15dca {
        color: $cream;
        background: unset;
    }

    // Gem icons
    .tierIcon_f15dca,
    .tierIconLocked_f15dca,
    .tierLock_f15dca {
        color: $cream;
    }

    // Locked tiers
    .tierIconLocked_f15dca,
    .tierLock_f15dca {
        opacity: 0.5;
    }

    // Placeholders
    .emptyTierImage_d87d30,
    .placeholderImg_d87d30 {
        @include filter.sepia;
    }

    // Sticker grid
    .grid_d87d30 {
        gap: $size-s;
        justify-content: center;
        margin: $size-m;

        // Sticker
        .wrapper__83b1d {
            background: unset;
        }

        .placeholderCard_d87d30 {
            border-color: $cream;
            border-radius: $size-m;
        }
    }
}

// Sticker actions
@media (min-width: 1010px) {
    .actions__83b1d {
        flex-direction: row;
        inset: -16px 0 auto;

        .action__83b1d {
            margin-top: 0;
            width: 50%;
        }
    }
}

.action__83b1d,
.soundEdit__15634 {
    box-shadow: none;
    background: unset;

    :is(&, &:hover, &:focus) {
        color: $cream;
    }

    &:is(.actionRemove__83b1d, .soundRemove__15634) {
        &,
        &:hover,
        &:focus {
            color: $red;
        }
    }

    svg {
        zoom: 1.2;
    }
}
