@use "../../../top/vars" as *;
@use "../../../top/filter";
@use "../../../top/card";

.notice__5579e {
    @include card.large;
}

.enableContainer__5ea8c {
    background: unset;
    margin-bottom: $size-l;

    .activeCircle__5ea8c {
        background: $cream;
        color: $black;
    }
}

.previewContainer__5579e {
    @include card.xlarge;

    .icon__5579e {
        border-radius: $size-max;
    }

    .welcomeTitle__5579e strong {
        color: $cream;
    }

    .welcomeChannel__5579e {
        @include card.large;

        img {
            @include filter.sepia;
        }
    }

    .channelTitleIcon__5579e {
        color: $cream;
        zoom: 1.5;
    }
}
